[2020-03-25 18:32] praveenscience opened #1 "Add a world class developer friendly readme for this project"
The readme for any project is as good as the project itself. I was looking through different Readme files and I tried compiling something as well. The one I came up with is something like this:

**Table of Contents**

- Name Inspirations
- Demo
- Use Cases
- Working
- Development
   - System Requirements
   - Installation
   - Testing
- Contributing
- Thanks

Currently, the readme this project has

[2020-03-25 18:39] praveenscience opened #2 "Move rezume.best to app.rezume.best"
Let's plan on using a landing page on rezume.best and create another project for it to be hosted. Let's move the main application to app subdomain and set up the DNS entries on Cloudflare.

- [x] Create a DNS Entry for `app.rezume.best`.
- [x] Move current build from `rezume.best` to `app.rezume.best`.
- [x] Update the build command in `package.json`.
- [x] Create a new repository for landing page

[2020-03-25 18:46] habeeba-naaz commented on #1
I am interested to work

[2020-03-25 18:47] praveenscience commented on #1
Liaise with @AnjaliSharma1234 with the above ideas. Feel free to add your comments too! 😊

[2020-03-25 18:51] habeeba-naaz commented on #1
Sure... thank you @praveenscience

[2020-03-25 18:53] praveenscience opened #3 "Add CI / CD + Netlify Support"
Currently we are using GitHub Pages and creating a build, pushing it to `gh-pages` branch and updating the build files by the following process in command line using :

- Delete the build folder.
- Recreate the build folder.
- Create a `CNAME` file.
- Using `gh-pages` package, deploy the contents of build to `gh-pages` branch.

The above process needs to be automated using Continuous Integration /

[2020-03-25 18:56] praveenscience opened #4 "Add a version for the deployment in the footer"
The version could be the commit ID of the current build on the master branch. Somehow we need to fetch the version information using the commit hash and that needs to be shown either using:

- a text on footer of the application
- a variable on the page
- a comment inside the source

I have seen a few people doing it, which I need to check with them. But this is again up for grabs. 😊 Best idea wou

[2020-03-25 18:57] AnjaliSharma1234 commented on #1
Hey, @habeeba-naaz your inputs will be helpful but I don't think two people can work on the same issue simultaneously. If you have any specific idea that can be implemented in the Readme, do comment. otherwise, feel free to reach out to @praveenscience and create new issues on which we all can work!

[2020-03-25 18:57] praveenscience commented on #1
@habeeba-naaz Looks like only one person can do the Pull Request and only they'll get the points. We can leave this to @AnjaliSharma1234 for now and if you have new ideas to be implemented on the document, let's create another issue to address them and you own it. How does that sound?

[2020-03-25 18:57] habeeba-naaz commented on #4
I am interested to work...please assign

[2020-03-25 18:59] habeeba-naaz commented on #1
Okay...I’ll work on another issue

[2020-03-25 19:05] praveenscience opened #5 "Let's start a discussion about Landing Page for this"
We all know that this product is mainly for new people to understand how React JS works and along with that, we should start looking into creating a good landing page like how [Represent - A better way to résumé](https://represent.io/) has.

I would really love your suggestions on this issue. Let's all discuss. This is not an issue for grabs but a discussion on how to make this one awesome.

[2020-03-25 19:10] praveenscience opened #6 "Shall we discuss a neat logo?"
Yet another discussion based issue. I am also looking for an awwwesome logo for this. I really love how flat logos exist. Let's stick with the four designs ranging from most preferred to least preferred:

- [Lineal Colour](https://image.flaticon.com/icons/svg/2729/2729001.svg) (most preferred)
- [2 Colours](https://image.flaticon.com/icons/svg/2718/2718609.svg)
- [Colour](https://image.flaticon.co

[2020-03-25 19:11] praveenscience commented on #4
@habeeba-naaz Done... 😊

[2020-03-25 19:15] praveenscience opened #7 "Create Personal Details menu item and put About & Contact under them"
The current navigation is too huge with so many items:

![image](https://user-images.githubusercontent.com/1830380/77576235-c4102e80-6ecc-11ea-8422-976d91e33020.png)

Let's try to use a second level navigation that is available only when it's clicked or hovered (let's decide later) and throw both About and Contact - the first and last items inside Personal Details. This is open to ideas and up for

[2020-03-25 19:17] habeeba-naaz commented on #4
Thank you @praveenscience

[2020-03-25 19:21] praveenscience opened #8 "Create a data structure for each listable menu items and add them to the nav"
For the following elements, there's no proper data structure defined:

- Experience
- Education
- Awards
- Projects
- Skills
- Hobbies

Can we have a data structure to store each of them as lists? I guess most of them (except Skills & Hobbies) need to be sorted by dates. We might also need a good data structure! 😊 Let's discuss and this is again up for grabs - there won't be any file changes, but

[2020-03-25 19:26] praveenscience opened #9 "Convert Class Components into Functional Components and upgrade React"
We have the oldest version of React possible. This is because, the project was started long back and it's now being recreated. Since Class Components have a heavy payload - they have component life cycles and stuff, and hooks are the new ones, let's start converting the main App to make use of hooks. This is up for grabs! 😊

[2020-03-25 19:34] praveenscience opened #10 "Use useState Hooks to maintain hooks for those class components using states"
Find all the classful components and convert them into stateless functional components. If there are any states in it, let's use `useState` hooks.

[2020-03-25 19:41] praveenscience opened #11 "Need a semantic accessible tag for navigation elements"
Currently we have a `<span>` tag. Only the `<a>` tag or `<button>` tag are accessible, not `<span>`. This needs to be checked as well as `<a>` cannot be added directly on React with `href="#"`. This is up for grabs! 😊

[2020-03-25 19:43] divyaprakash-Rx commented on #11
@praveenscience I would like to work on this issue. Please assign it to me.

[2020-03-25 19:46] praveenscience opened #12 "Implement array data structure and add forms for Experience"
Let's discuss on a data structure for Experience and then let's implement this on #8.

[2020-03-25 19:46] praveenscience opened #13 "Implement array data structure and add forms for Education"
Let's discuss on a data structure for Education and then let's implement this on #8.

[2020-03-25 19:46] praveenscience opened #14 "Implement array data structure and add forms for Awards"
Let's discuss on a data structure for Awards and then let's implement this on #8.

[2020-03-25 19:46] praveenscience opened #15 "Implement array data structure and add forms for Projects"
Let's discuss on a data structure for Projects and then let's implement this on #8.

[2020-03-25 19:46] praveenscience opened #16 "Implement array data structure and add forms for Skills"
Let's discuss on a data structure for Skills and then let's implement this on #8.

[2020-03-25 19:46] praveenscience opened #17 "Implement array data structure and add forms for Hobbies"
Let's discuss on a data structure for Hobbies and then let's implement this on #8.

[2020-03-25 19:47] praveenscience commented on #11
@divyaprakash-Rx Go for it! 😊

[2020-03-25 19:53] praveenscience opened #18 "Implement a page for About"
Let's create a layout for About Page and link it to the button. This is up for grabs as well. 😊

[2020-03-25 19:55] divyaprakash-Rx commented on #18
@praveenscience I would like to work on this issue. Please assign it to me.

[2020-03-25 19:56] divyaprakash-Rx commented on #11
Okay, thanks. I will create PR asap.

[2020-03-25 20:06] praveenscience commented on #18
Done... Can you finish these two before you start the next one? 😊 I know these can be done within a day! 🤞🏻

[2020-03-25 20:07] divyaprakash-Rx commented on #18
Sure

[2020-03-25 20:10] abhu-A-J commented on #3
@praveenscience May I try this! Never done this before so would like to give it a shot

[2020-03-25 20:11] praveenscience commented on #3
@abhu-A-J Are you sure? Coz this is gonna hit the production and I want this to be perfect. Possible man? (Just worried what if this involves some £₹$ money and we shouldn't screw it up)...

[2020-03-25 20:20] habeeba-naaz commented on #7
I am interested to do...if possible please assign

[2020-03-25 20:31] abhu-A-J commented on #3
I'll do my best to do this. I think I'll be able to do with proper research and study. Im up for it

[2020-03-25 20:38] praveenscience commented on #3
Go for it! @abhu-A-J 😊

[2020-03-25 20:38] praveenscience commented on #7
Sure, go for it @habeeba-naaz! 😊

[2020-03-25 20:39] priyadarshu commented on #6
Can you please assign me this. Would like to know more about it

[2020-03-25 20:41] praveenscience commented on #6
@priyadarshu go for it... Let's discuss it and we'll finalise... 😊 Go for it and post your designs... It would be nice to show some ideas and then if we select one, we'll assign the PR.

[2020-03-25 21:11] habeeba-naaz commented on #4
Publishing git commit Info publicly is not a good idea. So I prefer to do a comment inside the source.

[2020-03-25 21:16] praveenscience commented on #4
Git commit hashes are public. The repository is open source. We need it. 😊 The main thing is it needs to be public so that we can debug things easily.

[2020-03-25 21:19] habeeba-naaz commented on #4
Oh...then shall I do as a variable on the page?This should be done in JavaScript code?

[2020-03-25 21:27] praveenscience commented on #4
Yep that works! 😊

[2020-03-25 21:42] habeeba-naaz commented on #4
Do I need to do this task in master branch without checkout to new branch?

[2020-03-25 21:44] praveenscience commented on #4
@habeeba-naaz I am writing the contribution guidelines in few mins. Will send it to you! 😊

[2020-03-25 21:47] habeeba-naaz commented on #4
Actually I should not do in master branch...but in issue it’s mentioned to get version of current build of master branch..so got confused..

[2020-03-25 21:48] praveenscience commented on #4
The SHA won't change irrespective of `master` branch or `feature` branch. 😊

[2020-03-25 21:50] habeeba-naaz commented on #4
Oh..I got it..thank you for your patience for answering my questions

[2020-03-25 21:58] praveenscience opened #19 "Create Contributions document"
We need to create a contributions document that sets the environment specification and how to create Pull Requests in a clear way for developers to do a streamlined code. This should include:

- GitHub Branching & Workflow Policy
- IDE & Linter Settings

[2020-03-25 22:07] #2 closed

[2020-03-25 23:12] #19 closed

[2020-03-26 05:16] aysp-99 commented on #9
Hi! I'd like to work on this.

[2020-03-26 06:31] guptavarun619 commented on #5
Starting with a brief about the importance of the first impression on the recruiter. We can add important guidelines(brief and descriptive) about how to create a great resume.
- Brief, because people are always in a hurry and might not consider reading.
- After considering all points the user would be tempted to use our platform, as everything is already structured.
- Tech and non-tech resume diff

[2020-03-26 07:00] divyaprakash-Rx commented on #11
@praveenscience I have made span tag accessible and created PR for the same. Please review and merge PR.

[2020-03-26 08:13] mySTRiouscoder commented on #3
I'll add appropriate github actions as well.

[2020-03-26 08:14] praveenscience commented on #3
Yep, let's both discuss this one. 😊

[2020-03-26 09:14] dibakar95 commented on #9
Hello, I'd like to complete this up.

[2020-03-26 09:15] dibakar95 commented on #10
Hi, I'd like to do this.

[2020-03-26 09:25] praveenscience commented on #9
@aysp-99 and @dibakar95 Can you both respond which components you'd like pick up?

[2020-03-26 09:35] aysp-99 commented on #9
@praveenscience I'd be working on `App.js`  which is a `class component.`

[2020-03-26 09:39] anushreejain98 commented on #6
Should we make a design using paper pen or some logo design tool like Adobe XD?

[2020-03-26 09:42] praveenscience commented on #6
@anushreejain98 Anything is okay, but the final output needs to be one of the above mentioned:

[2020-03-26 09:43] praveenscience commented on #9
@aysp-99 Great. Did you also look at the [Contribution Guidelines](https://github.com/CatsInTech/Rezume/blob/master/CONTRIBUTING.md) and have you set up the [environment](https://blog.praveen.science/my-personal-development-environment/) as well?

[2020-03-26 10:01] anushreejain98 commented on #13
@praveenscience  I am interested in this. I have some basic idea in my mind..should I disclose it here in discussion?

[2020-03-26 10:02] aysp-99 commented on #9
@praveenscience Yup! I did. 👍

[2020-03-26 10:14] praveenscience commented on #9
@aysp-99 Assigned this to you and @dibakar95 I assigned another one to you. 😊

[2020-03-26 10:24] anushreejain98 commented on #8
@praveenscience I am interested to work on it. Discussion of some ideas: https://gssoc20.slack.com/archives/C0109EBE74G/p1585217280017900?thread_ts=1585164117.013600&cid=C0109EBE74G

[2020-03-26 10:50] aysp-99 commented on #9
@praveenscience It seems dibakar has already created a PR which resolves this issue.

[2020-03-26 10:58] lakshyajit165 commented on #17
@praveenscience. I would like to work on this issue.

[2020-03-26 10:59] praveenscience commented on #13
@anushreejain98 Yes, let's bring the whole discussion here, please. 😊

[2020-03-26 11:26] praveenscience commented on #17
Awesome @lakshyajit165, would you like to start with discussing on what you're planning to do in the main thread on #8?

[2020-03-26 11:26] SomyaGandhi commented on #16
I  can work on this @praveenscience

[2020-03-26 11:27] praveenscience commented on #13
Also, let's start discussing the idea on the main thread at #8.

[2020-03-26 11:28] praveenscience commented on #16
Awesome, let's start the initial discussion on the main topic at #8.

[2020-03-26 11:28] lakshyajit165 commented on #17
@praveenscience sure. Could you allow me till late evening? I am working now and my shift ends around 9.p.m. that's why.

[2020-03-26 11:29] praveenscience commented on #17
No worries at all bro! Let's discuss on #8 first. 😊

[2020-03-26 11:31] lakshyajit165 commented on #17
Thanks @praveenscience. Will get back to you ASAP.

[2020-03-26 11:34] sanchibansal340 commented on #14
@praveenscience Can I work on this issue?

[2020-03-26 11:41] praveenscience commented on #14
Awesome, let's discuss about this on the main thread #8.

[2020-03-26 11:56] anushreejain98 commented on #12
For Experience consider following fields:

Select from Internship- industrial or research /FTE
Company/Institute
Duration
Project Title

For Projects:
Project Title
Techstack/skills used
Brief Description

[2020-03-26 11:57] anushreejain98 commented on #15
For Projects:
Project Title
Duration - beginning-end date
Techstack/skills used
Brief Description

[2020-03-26 11:59] anushreejain98 commented on #8
For Experience consider following fields:

Select from Internship- industrial or research /FTE
Company/Institute
Duration
Project Title

For Projects:
Project Title
Techstack/skills used
Brief Description

Experience can be linked with projects through title

[2020-03-26 12:00] anushreejain98 commented on #8
For Skills

Programming languages - (c++, python....)
Web Technologies- (HTML, CSS etc..)
Database management: (mySQL, mongodb, Cassandra, redis etc.)
Data Analytics / python ML libraries- (numpy, pandas, scikitlearn etc. )
Operating System: (linux, windows etc.)
Others/miscellaneous:-(latex, git etc.)

[2020-03-26 12:03] anushreejain98 commented on #8
Education:
Degree/qualification: (btech, matriculation,secondary)
Passing Year:
Institution/Board:
CPI/Percentage

[2020-03-26 12:08] praveenscience commented on #8
Wow, that looks awesome @anushreejain98. Keep up the good work! 😊

[2020-03-26 12:12] imabp commented on #8
Sir, for #16  I would like to use mapping technique to store the skills of the user. Below is the image representation.
<b>We have two schemas, having details as per @anushreejain98  said, and the second schema which will help us to find how many developers we have with that skill. Therefore it will be helpful for quick analysis of the organisation. If a new skill is entered, by user, it will be s

[2020-03-26 12:14] praveenscience commented on #8
@imabp Yea, that's a good idea. But I guess we need to do this on the server side and resolve the names alone on the client side. That works right? 😊

[2020-03-26 12:16] imabp commented on #8
@praveenscience  yes sir,  I see, we can use mongoDB for this stuff to handle out.

[2020-03-26 12:47] adad20 commented on #12
hi @praveenscience I wanna take this issue.

[2020-03-26 13:07] praveenscience commented on #12
@adad20 Come to #8 to discuss about it. 😊

[2020-03-26 13:07] praveenscience commented on #8
@imabp We are using MySQL on the production machine - we can use Knex to connect, if needed.

[2020-03-26 13:14] praveenscience opened #27 "Implement GitHub Actions for Welcome Messages"
When a PR or Issue is opened, let's have some GitHub actions do the magic by asking the users to do something or giving some useful information. Currently it's going to be experimental and we need to see the potential of how this can be used, but let's start with something small. 😊

[2020-03-26 13:15] Samriddhi25 commented on #27
I'll like to take this task

[2020-03-26 13:16] mySTRiouscoder commented on #27
I'd like to take this up coz i am working on it already

[2020-03-26 13:16] praveenscience commented on #27
@Samriddhi25 Already chosen by @mySTRiouscoder... 😅

[2020-03-26 13:44] sakshikhachane commented on #16
I would like to work on this @praveenscience and I can complete this issue.

[2020-03-26 13:45] imabp commented on #8
Wow @praveenscience  I didnt know about this. Thanks !!!! so much

[2020-03-26 16:51] lakshyajit165 commented on #17
@praveenscience, I have been thinking about a data structure for the hobbies and what I feel is that, a **hobby can have a name and a type**, so it should be an **array of objects**.

[2020-03-26 16:55] #27 closed

[2020-03-26 17:26] anushreejain98 commented on #8
Thanks @praveenscience , could you help us with a sample or reference of how to implement it?

[2020-03-26 17:34] anushreejain98 commented on #6
![Screenshot from 2020-03-26 23-03-04](https://user-images.githubusercontent.com/30777215/77677676-082b2e00-6fb6-11ea-8f74-65ad38cf7f48.png)
![Screenshot from 2020-03-26 23-03-10](https://user-images.githubusercontent.com/30777215/77677692-0cefe200-6fb6-11ea-888b-3200e18f9d6e.png)
![Screenshot from 2020-03-26 22-59-51](https://user-images.githubusercontent.com/30777215/77677708-12e5c300-6fb6-11ea-

[2020-03-26 17:36] anushreejain98 commented on #6
I tried some of these, Is any of the above logos created eye-catchy? should we come up with slogan as well? @praveenscience

[2020-03-26 17:42] praveenscience commented on #17
Nice ideas, let's discuss at #8.

[2020-03-26 17:42] praveenscience commented on #16
@sakshikhachane Already it was chosen by @SomyaGandhi, but still, you can discuss here in #8. Also, there's #15 not picked up. Would you like to pick it up instead of this? 😊

[2020-03-26 17:44] praveenscience commented on #6
Wow, really good... I really like the below one:

![image](https://user-images.githubusercontent.com/1830380/77678666-655cba80-6f89-11ea-96fe-fa23e13823bc.png)

[2020-03-26 18:01] praveenscience commented on #8
@anushreejain98 Yes, soon. Give me some time. I am in a call - might take an hour max.

[2020-03-27 04:21] sakshikhachane commented on #15
I can do this @praveenscience and I can complete this .

[2020-03-27 06:26] Aman-Codes opened #29 "Add Pull Request Template and Issue Template"
@praveenscience  I am a GSSOC participant and I would like to add a  pull request template and an issue template folder with bug report and feature request template.
## Screenshots

### Pull Request
![pull request](https://user-images.githubusercontent.com/54680709/77220497-9c386800-6b66-11ea-9d0a-72820d72a239.PNG)

### Bug report
![bug report](https://user-images.githubusercontent.com/54680709/77

[2020-03-27 13:14] praveenscience commented on #15
@sakshikhachane Done! 😊

[2020-03-27 13:18] praveenscience commented on #29
@Aman-Codes Go for it! 😊

[2020-03-28 07:07] anushreejain98 commented on #8
@praveenscience could give us a go ahead on how to start with implementation of this issue?

[2020-03-28 07:10] anushreejain98 commented on #6
@praveenscience thank you, do we need to modify this or make further improvisation, think of slogan as well?

[2020-03-28 09:50] praveenscience commented on #6
@anushreejain98 Can you get the logotype to be in two lines with a sentence case? I guess this is good to go for me now.

[2020-03-28 10:27] #29 closed

[2020-03-28 11:34] divyaprakash-Rx commented on #18
@praveenscience for creating layout, please tell me how many sections you want in the page.

[2020-03-28 14:31] praveenscience commented on #18
@divyaprakash-Rx Not sure what's gonna go inside about page! 😅 Suggest some ideas?

[2020-03-28 14:31] praveenscience commented on #8
@anushreejain98 Did you miss the last session, where I was talking about React? 😔

[2020-03-28 14:32] divyaprakash-Rx commented on #18
About developers section, about website

[2020-03-29 14:43] abhu-A-J opened #31 "Github Actions"
**Is your feature request related to a problem? Please describe.**
Yes, to handle situation where PR's and Issues get large enough to handle

**Describe the solution you'd like**
Implement the following actions:
- To auto-assign reviewers on PR.
- To detect stale issues and PR and give them appropriate labels so students can know it's up for grabs in the future. (Especially required after the proj

[2020-03-29 15:11] praveenscience commented on #8
Team, let's decide on how to take this forward... 😊 I am ready to discuss about this anytime... 😊

[2020-03-29 15:22] praveenscience commented on #11
I'll take this over for now and assign you something else. 😊

[2020-03-29 16:14] #11 closed

[2020-03-29 16:41] imabp commented on #1
@praveenscience  is there any deadline for the current assignee?

[2020-03-29 17:21] praveenscience commented on #1
@imabp I am currently in talks with @AnjaliSharma1234 to finish this off, she's on track. Deadline March 31st. 😊

[2020-03-29 17:23] praveenscience opened #33 "Use the defaultValue or value props instead of setting children on textarea."
There seems to be some input `defaultValue` issue with the connected components.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://rezume.best/
2. Open the F12 DevTools and click Console.
3. You can find the error on console.

**Expected behavior**
The `<textarea>` needs to have a `defaultValue`.

**Screenshots**

![image](https://user-images.githubusercontent.com/1830380/7785567

[2020-03-29 17:25] praveenscience commented on #33
Go for it! @shreyakapoor08 😊

[2020-03-29 19:06] shreyakapoor08 commented on #33
PR raised :)

[2020-03-29 20:21] praveenscience opened #37 "Fix vulnerabilities and update packages"
When you install the package for the first time, it shows today that there are 38944 vulnerabilities. Most of them can be fixed quite easily. This is very important in terms of security and patching.

![image](https://user-images.githubusercontent.com/1830380/77859748-0904cf80-7203-11ea-8033-6f6ebe0f0145.png)

This is up for grabs! 😊

[2020-03-29 21:27] shreyakapoor08 commented on #37
@praveenscience can i try doing this?

[2020-03-29 21:28] praveenscience commented on #37
If you know what you're doing, yes, go for it. 😊

[2020-03-29 21:29] praveenscience commented on #37
@shreyakapoor08 Can you please finish #35 before starting this one please?

[2020-03-29 21:29] shreyakapoor08 commented on #37
I haven't done anything like this before, but i surely want to try. I will research about it a bit 😊 will let you know if face any issue

[2020-03-30 06:49] #33 closed

[2020-03-30 17:29] praveenscience commented on #8
We'll discuss the data structure tomorrow morning BST / afternoon IST. Whoever is contributing to the above issues, please make sure you attend this. 😊

[2020-03-30 20:20] Shubham-1105 commented on #9
i am also interested for this issue

[2020-03-30 21:14] praveenscience commented on #9
@aysp-99 Any updates on this?
@Shubham-1105 Let's wait for their response ^.

[2020-03-30 22:05] Swati0604 commented on #5
I personally think that users are more inclined towards the visuals rather than boring text. So I think on our landing page we can tell the user what is the motto of our product more with visuals and less with text. So our landing page looks more engaging and forces the user to explore more.

People buy benefits, not the product, with this thought I think we should tell the user why should they ch

[2020-03-30 23:20] aysp-99 commented on #9
@praveenscience It seems dibakar has already created a PR which resolves this issue.

[2020-03-31 04:00] dibakar95 commented on #9
@praveenscience I apologize I couldn't respond. It was negligence on my part that I didn't see the thread. I submitted the pull request as said by @aysp-99 said.

[2020-03-31 05:29] #1 closed

[2020-03-31 05:50] guptavarun619 commented on #5
On point, illustrations and graphical representations are much more impactful than bland text(no brainer why Instagram became so popular) but we need to make sure the content is intuitive and descriptive enough to convince the user. That's what a great UX is about.

[2020-03-31 11:25] #31 closed

[2020-03-31 12:41] praveenscience commented on #8
Individual Label:

[code]

The whole thing we discussed, and it's WIP:

[code]

[2020-03-31 14:18] csharp489 commented on #8
@praveenscience Please check this format for education.
Add Experience
	1. Graduation
	2.Post Graduation
	3.Diploma
	4.PHD
Graduation Status
	a.1.Pursuing
	a.2.Completed
	b College
	c Start Year (Drop down)
	d End Year(Drop down)
	e Degree
	f Stream
	g Performance( based on GPA)

[2020-03-31 14:24] adad20 commented on #8
@praveenscience for experience we can consider the following:
`experience:[{
        title:{
            type: String,
            required: true
        },
        company:{
            type: String,
            required: true
        },
        location:{
            type: String
        },
        from:{
            type: Date,
            required: true
        },
        to:{
            type

[2020-03-31 14:47] anushreejain98 commented on #6
@praveenscience sure, you mean, the logo should fit in 2 lines?
 Also I am planning to replace Resume Generator with Rezume? will that be fine?

[2020-03-31 14:52] praveenscience commented on #8
@anushreejain98 Just the only thing is, the key names need to be unique. Like title, from, to, current, description, location - all these can be shared by education as well.

[2020-03-31 14:54] csharp489 opened #39 "Implement array data structures and implement form for Position of Responsibility."
I think we should add one more field of **POSITION OF RESPONSIBILITY**. In this we can add the information of Social Activities or any volunteering activity( for eg. I had become Chief Invigilator in Air force Exam in October 2018 for Delhi region. In this project, I had done management and technical work.)
![Screenshot (207)](https://user-images.githubusercontent.com/42842260/78039060-3bd9cf80-73

[2020-03-31 14:57] praveenscience commented on #39
Won't this be same as projects? 🤔

[2020-03-31 16:48] csharp489 commented on #39
In project DS should be like this
Title
Start Month
End Month
Checkbox for **Currently ongoing**
Description
Project Link

& for Position of Responsibility we will simply add a
Description box ( can consist only 300 words)
Ex: I had become Chief Invigilator in Air force Exam in October 2018 for Delhi region. In this project, I had done management and technical work.

@praveenscience Please check i

[2020-03-31 17:30] praveenscience commented on #39
Oh this can be inside #12 or #15 right? Can you confirm that and we'll merge this into that. What say?

[2020-04-01 08:09] praveenscience commented on #39
@csharp489 Is it for either Experience and / or Project right?

[2020-04-01 08:14] Kashish-max commented on #5
No doubt animated graphics and responsive interface force users to explore more. Besides instead of presenting our product at once, we could break it in steps and then collect it on the final page making the user understand our product motive more easily and interestingly.

[2020-04-01 09:01] amoghjalan opened #40 "Add a section for Recommendations/References"
Recommendations is an essential part of a Resume.
One can add  references of people who have had enough direct experience with you to testify to your character, conduct and competencies.

It Should have following fields:

- [ ] Reference's Full Name

- [ ] Job Title

- [ ] Address of Organisation

- [ ] Contact Telefone

- [ ] Contact E-Mail Address

[2020-04-01 09:21] PrathibhaS commented on #40
Do we need Address of Organisation. Isn't Name of Organisation sufficient?

[2020-04-01 10:27] praveenscience commented on #40
@amoghjalan Please answer the above question and also we will add this to #8. Okay?

[2020-04-01 10:30] praveenscience commented on #40
@PrathibhaS Just checked my references, and they do have address. So yea, the issue seems alright to me.

[2020-04-01 10:31] amoghjalan commented on #40
It would be much like:
Google Inc.
Banglore, India.
It gives actually tells that where you worked in that organisation

[2020-04-01 10:32] amoghjalan commented on #40
Yup

[2020-04-01 15:45] dibakar95 commented on #37
Can I also work on this issue. #GSSOC2020

[2020-04-01 16:35] praveenscience commented on #37
@dibakar95 Do you wanna ask @shreyakapoor08 on how she's getting on and maybe help her?

[2020-04-02 07:03] csharp489 commented on #39
There is two different thing:

1. Add a **project** field
It consist of 6 element:
1.a Title
1.b Start Month
1.c End Month
1.d Checkbox for Currently ongoing
1.e Description
1.f Project Link

2. Add a **Position of Responsibility** field
It consist of only 1 element
2.a Description
 ( e.g. Project leader in Smile foundation’s Funding Project in 2015 for Delhi region.)

I think this would be clear

[2020-04-02 07:25] csharp489 opened #43 "Add a section for Work Samples"
We should have one more section for **Work Samples**. It consists of 4 elements.
1 Blog Link
2 GitHub Profile
3 Play Store Developer A/c (Public Link)
4 Behance Portfolio Link
5 Other Portfolio Link

This section is important for experience as well as for fresher.
@praveenscience please review it.

[2020-04-02 10:48] praveenscience commented on #43
Hi @csharp489 That's exactly #15 does, right? This is a duplicate of #15.

[2020-04-02 13:04] jamesjose03 opened #44 "Add TOC to README.md"
**Is your feature request related to a problem? Please describe.**
Currently, the readme is quite a long one.

**Describe the solution you'd like**
A TOC will help for easy navigation through the README file.

**Describe alternatives you've considered**
N/A

**Additional context**
Screenshot
![image](https://user-images.githubusercontent.com/31133182/78252450-7de04e00-7510-11ea-81da-130f626ce64d.p

[2020-04-02 13:04] jamesjose03 commented on #44
I am a GSSOC participant. Pls assign me this issue. I would like to work on it

[2020-04-02 13:23] praveenscience commented on #44
@jamesjose03 Go for it. 😊

[2020-04-02 13:26] jamesjose03 commented on #44
Okay, thanks. 👍

[2020-04-02 13:32] praveenscience commented on #44
Actually I had this as a part of #1. @AnjaliSharma1234 did you miss this? 😅

[2020-04-02 14:58] praveenscience commented on #39
@csharp489 In experience, we can add the same right?

[2020-04-02 15:57] csharp489 commented on #39
Yes..Same thing will be apply in Experience case

[2020-04-02 15:58] praveenscience commented on #39
Let's do it as a part of #12 then... 😊

[2020-04-02 16:22] lakshyajit165 commented on #8
@praveenscience, I think the hobbies could have 2 fields - name and type, for example:
 - name - Singing, type - Music
 - name - Cricket, type - Sports

[2020-04-02 17:54] AnjaliSharma1234 commented on #44
I think it's a nice idea! @jamesjose03 @praveenscience

[2020-04-02 18:20] #44 closed

[2020-04-03 08:33] imabp opened #46 "Add Link to the brand name in header."
**No hyperlink in the brand name in header REZUME**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:3000'
2. Click on 'the brand name REZUME, you will not be redirected to home page.'
3. Scroll down to '....'
4. See error

**Expected behavior**
On clicking brandname that is Rezume, should redirect us to the homepage. .

**S

[2020-04-03 08:34] praveenscience commented on #46
Hey, but we don't have a home page yet right? Like where exactly it needs to take us? It's just a Single Page App right?

[2020-04-03 08:37] imabp commented on #46
It should take us to '/' page sir

[2020-04-03 14:26] aldrinjenson commented on #6
Hi, @anushreejain98 , appreciate your efforts in seeking out a logo, but I think usually in professional organizations, they want the logo to be as simple as possible. i.e, if there is usually a lot of colours and trendy designs, there are chances for companies to consider us as amateurish maybe. So I personally feel that it would be best to make a simple logo without much eye catchy effects or br

[2020-04-03 16:58] aldrinjenson commented on #4
@habeeba-naaz  are you still working on this?

[2020-04-03 16:59] habeeba-naaz commented on #4
Yes

[2020-04-03 17:16] aldrinjenson opened #48 "Adding a footer"
I think it would be nice to add a simple Footer to the app.

The left side can be used to show the version of the app like in #4
and the centre part can be used to show a copyright link like a
copyright 2020 Rezume
etc.
Note: The footer will be seen only if the we scroll down to the bottom and that way the user will not be limited by the space available for the Resume created.

[2020-04-03 17:17] aldrinjenson commented on #48
@praveenscience I am interested in working this out

[2020-04-03 23:26] habeeba-naaz commented on #4
![Rezume-error](https://user-images.githubusercontent.com/29932609/78412351-04646080-75e1-11ea-9b76-2b4b7db86133.png)

[2020-04-05 19:28] shreyakapoor08 commented on #37
@praveenscience Please check :)

[2020-04-06 09:08] Kashish-max commented on #6
@aldrinjenson I think the logo should convey the purpose of our product with minimalism. I also made a logo. @parveenscience please checkout this - -

![Rezume-logo-4](https://user-images.githubusercontent.com/53968505/78541824-df0b6880-7813-11ea-9c99-b27764ff3583.png)

[2020-04-06 09:59] annu12340 commented on #6
Is this issue still open?
I would like to work on it

[2020-04-06 11:38] aryamasinha commented on #43
@praveenscience @csharp489  can i take up this issue?

[2020-04-06 12:52] praveenscience commented on #10
This fix by @dibakar95 completely broke the application.

[2020-04-06 13:06] dibakar95 commented on #10
okay. I'll fix this. @praveenscience

[2020-04-06 13:07] praveenscience commented on #10
Please kindly create a new PR ASAP.

[2020-04-06 13:11] dibakar95 commented on #10
Sure. Working on it.

[2020-04-06 13:11] praveenscience commented on #10
Thanks bro! 😊 Give me a quick shout if you have questions.

[2020-04-06 13:21] praveenscience commented on #6
I was waiting for @anushreejain98's update on SVG logo and changes with #41. So yea, until it's finalised keep trying.

[2020-04-06 16:17] annu12340 commented on #6
Hey everyone, I have some ideas for the logo
![logo1](https://user-images.githubusercontent.com/43414928/78580380-f36d5680-784f-11ea-8cb2-de39cdc4b90a.png)
![l2](https://user-images.githubusercontent.com/43414928/78580386-f5371a00-784f-11ea-936f-1655a3f61cdb.png)
![l3](https://user-images.githubusercontent.com/43414928/78580390-f6684700-784f-11ea-9b09-1ab6fd063673.png)
![l4](https://user-images.gi

[2020-04-07 06:12] dibakar95 commented on #10
@praveenscience Sir made a PR. Can you give it a check

[2020-04-08 16:35] SomyaGandhi commented on #6
![Black and Red Laser Games Logo (4)](https://user-images.githubusercontent.com/53896115/78809776-0bc2aa00-79e5-11ea-8fc5-373fa58d5cf1.png)

[2020-04-08 16:43] SomyaGandhi commented on #6
![Black and Red Laser Games Logo (1)](https://user-images.githubusercontent.com/53896115/78810490-0dd93880-79e6-11ea-8b51-a2e2e31e827e.png)
![Black and Red Laser Games Logo (3)](https://user-images.githubusercontent.com/53896115/78810500-129dec80-79e6-11ea-8025-df383229484b.png)
![Black and Red Laser Games Logo (5)](https://user-images.githubusercontent.com/53896115/78810518-1762a080-79e6-11ea-92e

[2020-04-17 08:22] csharp489 opened #56 "Add Code_of_Conduct.md file and link it to readme.md file"
No Code of Conduct file is present.
As a gssoc Participant, I would like to add Code_of_Conduct.md file and link it to the readme.md file.
@praveenscience @AnjaliSharma1234 please assign me this task.

[2020-04-17 08:30] praveenscience commented on #56
@csharp489 It's already there in [`Rezume/CONTRIBUTING.md`](https://github.com/CatsInTech/Rezume/blob/master/CONTRIBUTING.md).

![image](https://user-images.githubusercontent.com/1830380/79548860-0113af00-808e-11ea-974b-48ac449b108f.png)

[2020-04-17 08:30] #56 closed

[2020-04-20 10:05] arpitasahakundu commented on #18
i want towork on this

[2020-04-20 10:07] arpitasahakundu commented on #16
Can u assigned me in this?

[2020-04-20 10:13] praveenscience commented on #16
@arpitasahakundu It's been assigned for @SomyaGandhi

[2020-04-22 13:27] habeeba-naaz commented on #4
I made PR ...it has to be reviewed

[2020-04-22 14:51] praveenscience commented on #4
@Hyraze Sorry, didn't get you. What's the use of using it on `package.json`?
@habeeba-naaz I'll check it out, thanks.

[2020-04-23 06:55] scortier commented on #46
@praveenscience Can you please assign me this task.

[2020-04-23 21:59] #46 closed

[2020-04-23 22:00] imabp commented on #46
@scortier  Its not required. @praveenscience  sorry to reply so late because i was on a project with a healthcare department. Yaa, Actually  I got the issue ....its fine.. sorry for showing hurry at that  time

[2020-04-26 20:43] Aakansha99 commented on #18
Kindly assign this issue to me

[2020-04-26 21:51] praveenscience commented on #18
@divyaprakash-Rx What's the status?

[2020-04-27 20:05] Ruchika30 commented on #39
Hi . is this done?  If not then I can work on this.. @praveenscience

[2020-04-27 20:06] praveenscience commented on #39
@Ruchika30 Did you see the comments?

[2020-04-27 21:09] #39 closed

[2020-04-28 06:24] Ruchika30 commented on #39
Thanks for closing

On Tue, Apr 28, 2020 at 2:40 AM Praveen Kumar <notifications@github.com>
wrote:

--

*Regards,*
*Ruchika Sood*

[2020-04-28 06:25] praveenscience commented on #39
@Ruchika30 Can you check in Slack? We have got more issues now. 😁

[2020-04-28 16:59] rithika-hebbar commented on #43
@praveenscience I would like to work on this issue.

[2020-04-29 07:33] arpitasahakundu commented on #43
i would like to work on this

[2020-04-29 11:03] praveenscience commented on #43
Sorry all, this is a dupe of #15. 😔

[2020-04-29 11:03] #43 closed

[2020-05-01 15:43] shubkaushik commented on #40
Hi @praveenscience, if this is not taken, can i work on this ?

[2020-05-04 23:28] FrozenGirl-spd commented on #18
@praveenscience  Can i work on this?

[2020-05-05 12:45] richabh456 commented on #18
can i work on this issue?

[2020-05-05 12:46] praveenscience commented on #18
@divyaprakash-Rx Any updates on this? Should I give it to either @FrozenGirl-spd or @richabh456?

[2020-05-05 12:46] praveenscience commented on #18
@FrozenGirl-spd or @richabh456, if @divyaprakash-Rx doesn't respond, please either of you claim it.

[2020-05-05 12:46] richabh456 commented on #16
can i work on this issue?

[2020-05-05 12:47] divyaprakash-Rx commented on #18
Yes.

[2020-05-05 12:48] praveenscience commented on #16
@richabh456 It's been assigned for @SomyaGandhi

[2020-05-05 19:24] FrozenGirl-spd commented on #18
@praveenscience  Can i start with it?

[2020-05-05 19:24] praveenscience commented on #18
@FrozenGirl-spd Please go ahead.

[2020-05-08 15:42] kichloo opened #58 "PR template"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
PR template

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or scre

[2020-05-08 15:42] kichloo commented on #58
It can have Medium as the label

[2020-05-08 15:53] praveenscience commented on #58
@kichloo We already have a PR template right? Why this? What's this solving?

[2020-05-08 16:13] kichloo commented on #58
I didn't knew about the PR template

[2020-05-09 18:03] shubkaushik opened #59 "Message all mandatory fields entered, ready for print"
Can we have a popup or a message displaying the resume is completed and available for print/ download option.

[2020-05-09 18:14] shubkaushik opened #60 "Option for the ordering of the sections"
Different users may have different notions about their resume. Someone would prefer the projects section before education or awards.

Can we give the user flexibility to order the sections.

Some of the ideas that I have:-
1. Let the user give a  priority number --> and section will realign on priority.
2. Have predefined templates of the main app.js, and user can pick any one of them.

[2020-05-11 05:24] ampsteric commented on #59
Can I work on this issue

[2020-05-12 18:10] aashimgarg opened #61 ":feat: email section at the left sideBar"
**Is your feature request related to a problem? Please describe.**
Yes the left sideBar does not contain the e-mail section  for which user can add their email to the the rezume.

**Describe the solution you'd like**
I would like to add the email email section to the left sideBar.

@praveenscience what are your thoughts.? We can include even the Website and Phone number section too.

[2020-05-12 18:12] praveenscience commented on #61
You get this in the Contact Section right?

![image](https://user-images.githubusercontent.com/1830380/81729800-7bb0ce00-9484-11ea-8321-e50239fdca9f.png)

[2020-05-12 18:38] aashimgarg commented on #61
Ok! I got that.

[2020-05-12 18:38] #61 closed

[2020-05-13 07:00] rithika-hebbar commented on #59
Can I work on this issue? @shubkaushik

[2020-05-13 08:05] Nikhar444 commented on #18
@praveenscience I want to start with this issue, as @FrozenGirl-spd is delaying the about page. So may I go forward with it? If yes, please assign it to me.

[2020-05-17 15:05] spacemonkey1101 commented on #48
is this still open?

[2020-05-23 19:45] silenteyesoncode commented on #48
I want to contribute into this project,

[2020-05-31 19:24] #3 closed

[2020-05-31 19:33] #48 closed

[2020-05-31 19:37] #10 closed

[2020-07-29 18:33] Utkarsh2801 opened #63 "On writing something the form fields are getting disappeared"
**Expected behavior**
On writing something in form fields resume should be updated

[2020-07-29 18:36] Utkarsh2801 commented on #63
I forked and tried to run the app on my localhost But I found some unexpected behavior of form fields. Form fields are getting disappeared whenever I'm trying to give some input. I want to work on this issue please assign it to me.

[2020-07-30 07:08] rohanJa commented on #63
@Utkarsh2801 I resolved it in #62 you can look in that

[2020-07-30 07:14] Utkarsh2801 commented on #63
Ohhh, Okay the pull request hasn't been merged yet

[2020-07-30 07:14] #63 closed

[2020-07-30 07:21] Utkarsh2801 commented on #60
Is anyone working on this issue? I would like to work on it.

[2020-10-01 22:59] ritwikchakraborty123 commented on #60
Sir I would like to contribute

[2020-10-01 22:59] ritwikchakraborty123 commented on #58
I want to contribute

[2020-10-01 23:00] ritwikchakraborty123 commented on #58
I would like to contribute in this issue

[2020-10-02 06:50] sanchit-mishra commented on #16
I would like to work on this issue.

[2020-12-17 09:45] kavyashree1903 commented on #18
@praveenscience Can I work on this?

[2020-12-19 12:18] praveenscience commented on #18
@kavyashree1903 Okay sure... 😁

[2020-12-31 13:11] praveenscience opened #64 "This is to demonstrate how I can make a contribution to the Open Source world as a new person."
**Is your feature request related to a problem? Please describe.**
Well, no, this is for a demo.

**Describe the solution you'd like**
The new students need to understand how to contribute to an Open Source project.

**Describe alternatives you've considered**
Nothing

**Additional context**
Nothing

[2020-12-31 13:11] praveenscience commented on #64
Yes, I would like to take up this issue.

[2020-12-31 13:17] #64 closed

[2021-03-21 06:01] Disha-swp commented on #18
can you assign this to me. I am a gssos participant.

[2021-03-21 13:59] praveenscience commented on #18
Hi @Disha-swp, I am happy to assign this for you. But this is not a part of GSSoC 21. It was a part of GSSoC 20. How did you think this is a part of GSSoC 21? I am just curious. 😊

[2021-04-02 12:06] Disha-swp commented on #18
I misread it. :]

[2021-04-02 12:08] Disha-swp commented on #18
I unassigned myself mistakenly. @praveenscience

[2021-04-02 12:35] praveenscience commented on #18
@Disha-swp I reassigned it back. 😊

[2021-04-03 12:09] Disha-swp commented on #18
I installed npm, but still unable to access the application locally. @praveenscience
any suggestions?

[2021-04-03 18:03] praveenscience commented on #18
@Disha-swp Can you explain what happened? I'll try guiding you. What is the error are you facing?

[2021-04-03 19:02] Disha-swp commented on #18
something like this is, I pasted a part of it. should I do what's recommended here

To import Sass files, you first need to install node-sass.
Run `npm install node-sass` or `yarn add node-sass` inside your workspace.
Require stack:

[2021-04-03 19:11] praveenscience commented on #18
But it's already there in the dependencies, right? Did you try running `npm install` first? 🤔

[2021-04-03 19:30] Disha-swp commented on #18
yes i did

[2022-02-25 11:46] Priyal168 commented on #60
Hi I would like to contribute

[2022-02-26 06:53] praveenscience commented on #60
Good one... Can I assign it to one person or you all wanna work together as a team?

[2022-02-27 11:34] Gurdeep475 commented on #4
Hi! I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-02-28 13:51] Shivansh-yadav13 commented on #8
@praveenscience, we can use badges ([shields.io](https://shields.io/)) for skills, what do you think?

[2022-02-28 16:12] praveenscience commented on #60
Hi @Priyal168 It's been assigned to you. Let me check back in 2 days. :)

[2022-02-28 17:59] sagnik2001 commented on #59
Can this issue assign to me under GSSOC 2022??

[2022-02-28 18:16] kalashvasaniya commented on #5
Hey, I want to work on this issue!

[2022-02-28 18:44] MonarchGitHub commented on #18
I'd like to work on the about page, I plan to build it using **HTML, CSS, and React JS**.
My projected timeline is till **5th March**, I am confident that I can complete the about page by then.
I do have some design inspirations but I'd like some suggestions too on what to include on the about page.

[2022-03-01 02:02] Priyal168 commented on #60
Hello, thankyou for assigning me!

[2022-03-01 02:03] Priyal168 commented on #60
I would start working from today only.

[2022-03-01 02:06] praveenscience commented on #60
Thanks for confirming @Priyal168. Looking forward.

[2022-03-01 02:07] praveenscience commented on #59
Hey @sagnik2001, go ahead. Let's look at what's the status on the 5th...

[2022-03-01 04:02] utkarshnashine commented on #13
Sir,I would like to work on this issue as GSSOC'22 participant

[2022-03-01 04:06] utkarshnashine commented on #17
Sir,I would like to work on this issue as GSSOC'22 participant

[2022-03-01 11:02] Susmita-Dey opened #68 "Add CODE_OF_CONDUCT.md file"
**Is your feature request related to a problem? Please describe.**
CODE_OF_CONDUCT file is missing in this repository.

**Describe the solution you'd like**
I want to add the CODE_OF_CONDUCT.md file to this repo.

**Describe alternatives you've considered**

**Additional context**
**I am contributor at GSSoC'22. Please assign this issue to me.**

[2022-03-01 11:52] praveenscience commented on #68
@Susmita-Dey carry on.

[2022-03-01 12:49] MonarchGitHub opened #69 "Adding issue forms for the repo"
I want to add a few issue forms so that it will be convenient for new contributors to open issues. There are already issue templates for this project but they are deprecated now, issue forms instead work way better. I plan to create  **Bug Report** and **Feature Request** forms.

**_The Bug Report issue form will have the following fields_**

- **Description of the bug**
- **How to Reproduce**
- *

[2022-03-01 14:15] erdivyanshu opened #71 "ReactJs logo remove from tab"
I will remove the reactjs icon which is showing on tab.

[2022-03-01 14:16] erdivyanshu commented on #71
@praveenscience can you assign this task to me.

[2022-03-01 15:13] subhendudash02 opened #72 "Fixing responsiveness of the webpage"
**Is your feature request related to a problem? Please describe.**
The website looks good in desktop view but it is not configured for the mobile view.

**Describe the solution you'd like**
Adding responsiveness to the webpage in sass file (Media Query).

**Additional context**
![Screenshot 2022-03-01 204058](https://user-images.githubusercontent.com/71781104/156194667-bfda7487-c088-4aa9-aa57-9545

[2022-03-01 16:16] Sandhya312 opened #73 "Add the experience ,education and award section"
**I am a contributor of GSSOC'22**
**I want to add some sections like experience, education, and award.**
There is mention only the name of the section but we can't add them in the resume so I want to fix this.

![experience](https://user-images.githubusercontent.com/85842071/156210243-14e24f74-b95c-45dc-bcdf-eee46e77ab60.png)

[2022-03-01 18:34] sagnik2001 commented on #59
Hey @praveenscience while npm install the node-sass module is showing an error

[2022-03-01 19:33] techSun-07 opened #74 "NavBar Components"
Hey ya , Suneeth this side GSSOC'22 | Participant
Can I make the NavBar Components responsive by adding the routes ,
Also I will change the frontend look of the Navbar & make the footer component.
Please Assign me an Issue to work on it.

[2022-03-02 03:28] Reckon77 opened #75 "Footer Component"
**Is your feature request related to a problem? Please describe.**
Currently, there is no footer component in this project so I would like to add one

**Describe the solution you'd like**
A simple footer with sitemap and social media links

[2022-03-02 05:31] Siddhesh777 opened #79 "Add email, phone and website editing fields"
**Is your feature request related to a problem? Please describe.**
We have to add our own email, phone and website in resume but there is no field to make changes in email, phone and website.

![Issue](https://user-images.githubusercontent.com/77476772/156300983-57d5d45c-7f23-4a30-aee8-ac695562d801.png)

**Describe the solution you'd like**
I will add a field to get the phone, email and website de

[2022-03-02 12:40] Pranai2518 opened #80 "Add text field to input Projects, Skills, Hobbies section"
**Is your feature request related to a problem? Please describe.**
There is no text field to add the projects, skills and hobbies.

**Describe the solution you'd like**
 I would like to add the text field for the projects, skills and hobbies.

**Additional context**
![image](https://user-images.githubusercontent.com/75829770/156363084-b4342498-4c27-448d-a176-1c6b0c9dbfa0.png)

I am a GSSOC'22 part

[2022-03-02 14:12] VIPIN-creator commented on #7
Hello @praveenscience I am Gssoc 2022 participant. Please assign me this issue ?

[2022-03-02 15:11] SonikeshKumar14 commented on #40
Hi! I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-03-02 15:17] Harshil-Jani opened #81 "Changing Occupation Position and separate it from Summary"
**Describe the bug**
The Occupation of the person appears right next to the description about the person. But, It should be somewhere just next to Name of the person.
**To Reproduce**

**Expected behavior**
We must expect the profession being in a separate line and detached from the Paragraph.

**Screenshots**
![image](https://user-images.githubusercontent.com/79367883/156389766-93f6a3e6-0a0a-40cf

[2022-03-02 16:13] Harshil-Jani opened #82 "Make Copyright Year Dynamic"
**Describe the bug**
The copyright in the Footer has a hardcoded string for year 2020. We can make this Dynamic and then it will get updated automatically as the year will be changing.

**Expected behavior**
Change the Year in the footer from copyright as it changes and remove hardcoded value.

**Screenshots**
![image](https://user-images.githubusercontent.com/79367883/156401554-d08abd9e-e132-47f7

[2022-03-02 16:35] Harshil-Jani opened #83 "Input fields are breaking on change"
**Describe the bug**
The form components in which you would be providing your inputs are breaking on changing their state. As soon as you type, The components will vanish.
Make sure you are on localhost:3000 and not on https://app.rezyume.co/ because the input fields on live site are working well but, since then there have been many updates on the git repo which might be breaking those inputs.

**

[2022-03-02 18:03] MitAbhay commented on #82
Assign this to me.

[2022-03-02 18:06] MitAbhay commented on #83
Assign this to me.

[2022-03-02 18:22] praveenscience commented on #83
@MitAbhay go for it. Let's try looking at it tomorrow for updates...

[2022-03-02 18:24] praveenscience commented on #82
@MitAbhay if you're asking for assignment blindly, it won't happen. This issue seems to be fixed already. Kindly have some concern.

[2022-03-02 18:24] praveenscience commented on #82
@MitAbhay if you're asking for assignment blindly, it won't happen. This issue seems to be fixed already. Kindly have some concern.

[2022-03-02 19:33] subhendudash02 commented on #72
Hey @praveenscience, can you look for this issue?😅
If this issue is valid, kindly assign this to me.
Thank you

[2022-03-03 03:48] Sukriti-m commented on #59
Hey @sagnik2001 , the node-sass module is deprecated. Try with "npm install sass". It should work perfectly fine.

[2022-03-03 04:13] sagnik2001 commented on #59
Hey @Sukriti-m  can you just explain to me what are the mandatory fields and when the message should get displayed after completion of what number of fields.

[2022-03-03 05:24] Sukriti-m commented on #18
Hey @praveenscience, I would like to work on the About page.

I am planning on adding the **animate on scroll (AOS)** effect and some **transition** effects in it.

I have created a **Figma** design also for you to look and give suggestions.
Here is a link to that file: https://www.figma.com/file/ysYt5jaPLrp0sFDaqvEp1e/About?node-id=0%3A1
I have also attached the screenshot of the same for your ea

[2022-03-03 05:48] praveenscience commented on #4
@Gurdeep475 Go ahead, let's check the progress in 2 days! 🎉

[2022-03-03 05:55] praveenscience commented on #4
Check these for more info:

- [`react-git-info` - npm](https://www.npmjs.com/package/react-git-info)
- [Add git information to create-react-app](https://stackoverflow.com/questions/48391897/add-git-information-to-create-react-app)

[2022-03-03 05:56] praveenscience commented on #8
@Shivansh-yadav13 That's a great idea.

[2022-03-03 05:56] praveenscience commented on #40
@SonikeshKumar14 What do you mean work on this? Oh, review? Okay review and let me know what you find.

[2022-03-03 05:58] praveenscience commented on #5
@kalashvasaniya Yea, please continue. Tell me something?

[2022-03-03 05:59] praveenscience commented on #13
@utkarshnashine Please tell me your feedback?

[2022-03-03 06:55] utkarshnashine commented on #13
Sir, I didn't get the question which you have asked can you please elaborate?

[2022-03-03 07:22] Sukriti-m commented on #59
Hey @sagnik2001 , I am just a contributor like you. So, I don't have any idea about that. You should ask this from the project admin.

[2022-03-03 07:36] praveenscience commented on #13
Did you understand what's this issue about @utkarshnashine, what are you planning to do?

[2022-03-03 07:58] Gurdeep475 commented on #4
Thanks for the resources. I am working on it.

[2022-03-03 08:54] Neha9849 opened #85 "Add some templates for the Resume design"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There is only one design template for the Resume. Users may want to choose a design according to their personality or profession.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I think it w

[2022-03-03 08:54] Neha9849 commented on #85
I would like to work on it :)

[2022-03-03 09:01] Neha9849 opened #86 "Add download button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When the user is done with the resume building process than he surely want to download it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want the page to have a download button, on click

[2022-03-03 09:12] praveenscience commented on #17
Okay sir, tell what needs to be done @utkarshnashine? You're not even reading what needs to be done.

[2022-03-03 09:13] praveenscience commented on #69
Works, let's do!!! 🎉

[2022-03-03 09:14] praveenscience commented on #71
Sure thing! Please go on... ⚛

[2022-03-03 09:16] praveenscience commented on #73
Hey @Sandhya312, let's start working on this.

[2022-03-03 09:17] praveenscience commented on #74
Cool, please start working on this, let's get this started.

[2022-03-03 09:17] praveenscience commented on #75
I believe this is already there.

[2022-03-03 09:17] #75 closed

[2022-03-03 09:58] praveenscience commented on #85
Very good idea... 🎉

[2022-03-03 10:01] Neha9849 commented on #86
Yeah, we can do them also... i will look on it.

[2022-03-03 10:01] praveenscience commented on #72
This is not for mobile use, but try it out! 😁

[2022-03-03 10:02] praveenscience commented on #81
This is the expected output from the original represent.io! 😁

[2022-03-03 10:02] #81 closed

[2022-03-03 10:05] praveenscience commented on #79
It's already there. Can you explain what you're trying to do and I'll reopen this again?

[2022-03-03 10:05] #79 closed

[2022-03-03 10:09] praveenscience commented on #86
Some 🤬 messed it up. Can you please downgrade to `4.11.0` using `npm i node-sass@4.11.0` please?

[2022-03-03 10:10] Neha9849 commented on #86
yep oks!

[2022-03-03 10:32] utkarshnashine commented on #17
Sir actually I am a begineer and I want to contribute and I am just trying to run the project and get the essence so I can contribute and implement the data structure.Sorry for not replying

[2022-03-03 10:34] praveenscience commented on #17
@utkarshnashine Sir, all I ask is, did you even read what's this about?

[2022-03-03 10:36] utkarshnashine commented on #17
Yes,sir I need help

[2022-03-03 10:37] utkarshnashine commented on #17
If you can point me to the resources

[2022-03-03 10:48] praveenscience commented on #17
@utkarshnashine Happy to help you mate. What do you wanna know?

[2022-03-03 10:50] subhendudash02 commented on #72
Oh, I will try my best.😂

[2022-03-03 11:08] VIPIN-creator commented on #7
Thanks sir, I will do it.

[2022-03-03 11:36] utkarshnashine commented on #17
Sir shall I first go through through rezume data structure then ask?

[2022-03-03 11:39] praveenscience commented on #17
Great, please do that @utkarshnashine

[2022-03-03 11:43] Gurdeep475 commented on #4
@praveenscience I am getting this error, when I do: npm start
![image](https://user-images.githubusercontent.com/32095032/156558191-9d36e6a3-8e4e-45d1-8a97-8e0d88ade6bf.png)

Things I have tried:
1. deleting node-sass and installing saas

not able to solve the error please guide me.

[2022-03-03 11:47] praveenscience commented on #4
Okay, everyone seems to get this issue.

Some 🤬 messed it up. Can you please downgrade to `4.11.0` using `npm i node-sass@4.11.0` please?

[2022-03-03 12:07] Gurdeep475 commented on #4
I tried it but still got errors
![image](https://user-images.githubusercontent.com/32095032/156561791-716144c2-f6ae-4a00-939a-745e9d9bca8a.png)

[2022-03-03 12:45] utkarshnashine commented on #17
if I am understanding correctly then,empty arrays are already present in app.js and we need to implement forms so that we can extract data from them and put into the array right

[2022-03-03 12:58] praveenscience commented on #4
Try the version 5?

[2022-03-03 12:58] praveenscience commented on #17
@utkarshnashine Almost right, but what kind of data is what we are discussing here. 😁

[2022-03-03 13:34] MonarchGitHub commented on #69
Thanks, I'm on it.

[2022-03-03 13:46] utkarshnashine commented on #17
I think I am wrong,but hobbies will data in the form of text only but we can create an object as suggested above and use them like for dancing there are different kinds of dacing styles like jazz, hip hop etc. as optional field and dancing as main field
              for eg:- Dancing
                                    Hip-Hop
                                     Jazz
like this

[2022-03-03 14:30] Adbnemesis opened #88 "Add Authentication the the website"
The site doesn't have the feature to register and login a user. I think since its a resume generator site, a user can login and save all of his resumes which he/she has generated.

[2022-03-03 15:54] Shobhit61730 commented on #18
Can you assign this issue to me?

[2022-03-03 16:27] praveenscience commented on #17
@utkarshnashine Seems a good idea. Let's improve upon it.

[2022-03-03 16:28] praveenscience commented on #88
I don't think we need this, but it's a good idea. I suggest you to check the previous issues, as this has been already closed as not required. But thanks for the attempt though. 😁

[2022-03-03 16:28] #88 closed

[2022-03-03 16:28] praveenscience commented on #18
@Shobhit61730 Why? There are already three people working on this. What do you wanna do?

[2022-03-03 16:39] praveenscience commented on #80
Dupe of #73!

[2022-03-03 18:45] utkarshnashine commented on #17
yes,sir I will more than happy to contribute so can I start working on it.

[2022-03-03 19:09] SonikeshKumar14 opened #89 "Title: Download button/ routing feature."
### Is your feature request related to a problem? Please describe.

I want to add Download button and routing feature.

### Describe the solution you'd like.

I can add download button so that we can get Pdf of resume
and routing feature to responsive

### Describe alternatives you've considered.

for download button It can be do by using  node js  and routing feature by using react router dom

##

[2022-03-03 20:03] bhuvan2002 commented on #89
Hello, Please assign it to me as I am GSSOC contributor

[2022-03-04 03:15] sceary-expert commented on #40
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:15] sceary-expert commented on #14
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 07:02] Anirban-1490 commented on #89
this is a duplicate issue i think #86

[2022-03-04 11:08] Gurdeep475 commented on #4
nope, any other work-around, tried all versions from 7 to 3 but nothing works.

[2022-03-04 15:22] praveenscience commented on #89
Dupe of #86

[2022-03-04 15:22] #89 closed

[2022-03-04 15:37] praveenscience commented on #40
OKay, sure, please review the **already completed** work, @sceary-expert, assigned to you and @SonikeshKumar14.

[2022-03-04 15:38] praveenscience commented on #40
@SonikeshKumar14 Please let me know your reviews in the next few hours, else you'll get unassigned.

[2022-03-04 15:39] praveenscience commented on #14
@sceary-expert Please do! 😊

[2022-03-04 15:42] praveenscience commented on #4
@Gurdeep475 Many of them said 4 or 5 works. Hey, did you downgrade your Node JS version? Okay, let me do one thing. I'll add another issue to upgrade the app for working with Node 16.

[2022-03-04 15:43] praveenscience opened #91 "Make app workable for Node 16 and latest node-sass."
### What happened?

Seems like there are so many issues when developers are running the app with newer Node & `node-sass` versions.

### How can we reproduce this bug?

Using a new Node installation with latest `node-sass` version breaks the app.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

High priority

[2022-03-04 15:47] sceary-expert commented on #40
Yes I will work on that. Can you give more description of the issue?

On Fri, 4 Mar 2022, 9:09 pm Praveen Kumar Purushothaman, <
***@***.***> wrote:

[2022-03-04 17:29] bhuvan2002 commented on #91
Hello, Please assign it to me as I am GSSOC contributor

[2022-03-04 18:33] UdAyAn123 commented on #85
I am looking forward to this issue. Would love to contribute. Just can you specify exactly what are you looking for?
Also am starting with OS so help will be really appreciated
Thank you

[2022-03-04 19:03] the-halfbloodprince commented on #91
I'm a GSSoC 2022 contributor and I came across this error in another one of my earlier projects and it has been fixed completely, so I would like you to assign this to me please.

[2022-03-04 19:43] #91 closed

[2022-03-05 07:38] Shivansh-yadav13 commented on #16
@praveenscience can I contribute by adding the skills form just as we discussed here https://github.com/CatsInTech/Rezume/issues/8#issuecomment-1054277363

[2022-03-05 14:43] setco-website opened #95 "It's GSSoC 2022 not 2020"
### What happened?

In the ReadMe, you have mentioned that it's GSSoC 2020 but we're in 2022.

Dude, are you stuck in a time warp or something?

### How can we reproduce this bug?

See the readme.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

High priority

[2022-03-05 14:43] setco-website commented on #95
I would like to pick up this issue, please assign this to me.

[2022-03-05 14:44] praveenscience commented on #95
@setco-website Yes, you're right, please go ahead and start working.

[2022-03-05 14:58] #95 closed

[2022-03-05 16:51] nishu91020 opened #97 "Title: Fix the responsiveness and color combination of header"
### Is your feature request related to a problem? Please describe.

Hi, I'm a contributor at GSSOC '22, I would like to add the following features-
1) Make the header responsive i.e, convert it into a hamburger menu on small screens.
2) make the background of the about us button such that it matches the theme.

[2022-03-05 17:06] himanshusanecha commented on #8
Array data structure to store all projects or experiences or heavy text data can exceed the mongodb limit (if I am not wrong), like projects can contain images, experiences can contain some work samples etc. etc.

Also updating individual experience or project would require aggregation I guess.

[2022-03-05 17:21] praveenscience commented on #40
See the first comment, it's all clear. @sceary-expert.

[2022-03-05 17:23] praveenscience commented on #85
@UdAyAn123 Since it's a new idea, feel free to get your imaginations wild. A lot of new creative ideas can come up. See represent.io for what they do, that's what we're trying to copy in the Open Source version.

[2022-03-05 17:28] praveenscience commented on #8
@himanshusanecha We never use MongoDB, didn't check the tech stack for this project? Why using MongoDB BTW? We're working on a pure Front End application here.

Project containing images on Resume? I guess we can start with something simpler man.

[2022-03-05 17:28] praveenscience commented on #8
Okay, tell me more about the aggregation @himanshusanecha. I didn't quite understand or get it.

[2022-03-05 17:31] himanshusanecha commented on #8
Oh sorry, I thought it is a full fledged application to maintain database for resume's.
Ignore aggregation it is related to querying from the database.

[2022-03-05 17:43] Neha9849 commented on #5
@praveenscience
We can add theme's section in the Home page which consist's of all the different design template's we are providing.
Each theme will be a card with the sample image , Name and Link to that theme.

**Future scope**
If we add backend to this project than
- We can track the number of download's for each template and can display it in the respective theme card and can also add like's f

[2022-03-05 18:04] praveenscience commented on #97
Hi @nishu91020 What do you think of this issue: #72? Is it not a duplicate?

[2022-03-05 18:08] praveenscience commented on #5
Since we're not implementing any backend logic, this needs to be stored somewhere...

[2022-03-06 04:31] suman-shah opened #98 "Add social media icons instead of their name"
### Is your feature request related to a problem? Please describe.

adding some beautiful icons or symbols against the name of social media handles give it a great look

### Describe the solution you'd like.

i would like to add some social media handles icons to resume page also web icons instead of website text

### Describe alternatives you've considered.

i would probably go with modern design

[2022-03-06 04:31] suman-shah commented on #98
can you please assign this issue to me

[2022-03-06 05:58] nishu91020 commented on #97
oh yes, it is, @praveenscience so can I continue working on this issue, or you can assign me some other issue to work on.

[2022-03-06 08:55] tyagipriyanshi79 commented on #98
Hey!! can you assign it to me for GSSOC'22 tag . I'll able to do it with the help of material-ui using reactjs and I'll able to write a clean and understandable code !!

[2022-03-06 10:45] #4 closed

[2022-03-06 10:46] praveenscience commented on #98
Wait, what's this about @suman-shah? Can you explain more?

[2022-03-06 20:01] mayonk-kumar-git commented on #15
Hey @praveenscience  can I work on this issue #15?
It seems we have to implement a project form and store the data in this way

const Projects = {
  ProjTitle: {},
  TechStack: {},
  ProjDesc: {},
  ProjLocation: {},
  ProjEmp: {},
  ProjURL: {}
};

I found the above project object structure on(https://github.com/CatsInTech/Rezume/issues/8#issuecomment-606602171)

[2022-03-07 03:37] sebinfrancis7 opened #99 "Title: Allow users to add their image in the resume."
### Is your feature request related to a problem? Please describe.

Many of the resume generating website allow users to add their profile image in the resume. I think this feature would enhance the project.

### Describe the solution you'd like.

Create an "add image" button which can be used to add an image in the resume. The users would have a choice whether they would like to add an image or n

[2022-03-07 03:45] sebinfrancis7 commented on #99
I would like to work on this issue as part of GSSoC 2022.

[2022-03-07 13:11] Shivansh-yadav13 commented on #83
This issue needs to be fixed immediately otherwise contributors might not be able to add more changes
from what I'm able to see when we make a change in the form input the prop `CurrentPage` becomes `undefined` due to which we don't see the forms of that page.

https://github.com/CatsInTech/Rezume/blob/ef9f825a62b98a04e3118ba4bcd941978dc9d108/src/components/App.js#L34

In the above line, we need t

[2022-03-07 14:02] MitAbhay commented on #83
@Shivansh-yadav13, Oh sorry for being late, I have resolved the issue ...... only PR is left, Let me make that.

[2022-03-07 16:34] mayonk-kumar-git opened #101 "Implement the "About Us" section"
### Is your feature request related to a problem? Please describe.

Currently, the "About Us" button in the navbar is just a dummy button and does not route us to any page.

### Describe the solution you'd like.

I would like to make the "About us" button functional.

I am thinking of :
- Designing and Implementing the About Us page
- Adding  onClick to the About Us button so that it routes us to

[2022-03-07 19:13] ronitrangwani opened #102 "Title: Adding the footer section to the website"
### Is your feature request related to a problem? Please describe.

It's weird to see a professional website without a footer.

### Describe the solution you'd like.

So, I would like to add a footer section to the website. Or at least a basic structure of Responsive Footer Design.

### Describe alternatives you've considered.

If we are not interested in implementing a “Footer” then we might as w

[2022-03-07 19:13] Abhilasha-Jairath opened #103 "Title: Design logo and favicon for the website"
### Is your feature request related to a problem? Please describe.

The website is very simple and lacks elements that can attract users. Logo attracts peoples interest and favicon resonates with searches.

### Describe the solution you'd like.

I would like to design the logo and favicon and make website look attractive with respect of users.

### Describe alternatives you've considered.

If not

[2022-03-08 05:00] anushkachauhxn opened #104 "Landing Page for the website"
### Is your feature request related to a problem? Please describe.

I realized that there is no landing page for the website. It might be frustrating for a user who doesn't know the functionalities we provide beforehand.

### Describe the solution you'd like.

I'd like to create a landing page for the website. It will have some visually appealing components and a CTA button saying "Get Started".

[2022-03-08 06:52] arinasiddiqui786 commented on #102
I have learnt HTML,CSS,JS and react js from Udemy and also made sample projects. I think I can make this project

[2022-03-08 06:57] arinasiddiqui786 commented on #99
I have learnt HTML,CSS,JS and react JS and would like to work on this issue .please assign me this project ans I would love to work under GSSOC'22.

[2022-03-08 15:24] praveenscience commented on #103
Really a thoughtful idea @Abhilasha-Jairath, please go ahead and start working on this.

[2022-03-08 18:14] MitAbhay commented on #83
@Shivansh-yadav13  Are you not going to tag the issues with the Gssoc2022 label, like in your previous year's issues?

[2022-03-09 00:39] Shivansh-yadav13 commented on #83
@MitAbhay I'm just a contributor 😅

[2022-03-09 05:19] Keyurchaniyara commented on #103
Hello @Abhilasha-Jairath

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make fevicon for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:22] Keyurchaniyara commented on #104
Hello @anushkachauhxn

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make website landing page for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:41] prachi1211 commented on #103
Hello
I am a Gssoc'22 Contributor. Kindly assign me this task.
Thank You.

[2022-03-09 05:41] prachi1211 commented on #104
Hello
I am a Gssoc'22 Contributor. Kindly assign me this task.
Thank You.

[2022-03-09 05:41] Keyurchaniyara commented on #102
Hello

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make footer for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:43] Keyurchaniyara commented on #86
Hello @Abhilasha-Jairath

I am a GSSoC22 contributor. I would love to work on this issue and as soon as I make download button for this issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:53] YatreeLadani commented on #104
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:53] YatreeLadani commented on #103
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:54] YatreeLadani commented on #102
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 05:54] YatreeLadani commented on #86
I'm an GSSOc'22 Contributor, please Assign me this task.

[2022-03-09 06:55] MitAbhay commented on #83
Ohk, I think I get confused 🙃

[2022-03-09 06:57] MitAbhay commented on #83
Can you Clear it, @Harshil-Jani

[2022-03-09 07:49] Abhilasha-Jairath commented on #103
Its been assigned. Kindly try some other issue.

[2022-03-09 07:50] Abhilasha-Jairath commented on #103
Its been assigned. Kindly try some other issue.

[2022-03-09 13:44] prachi1211 commented on #102
Hello,
I am GSSOC Contributor. I will be delighted to take this task.
Thank you.

[2022-03-09 13:58] prachi1211 commented on #86
Hello,
I am GSSOC Contributor. I will be delighted to take this task.
Thank you.

[2022-03-09 14:44] Arijit018 commented on #101
Hey!! I am a GSSOC22 Participant. I want to work on this issue. Can you please assign me ??

[2022-03-09 14:52] #82 closed

[2022-03-09 14:53] praveenscience commented on #15
@mayonk-kumar-git Surely, but why does `ProjTitle` need to be an object? And everything? Can you please clarify?

[2022-03-09 14:55] praveenscience commented on #104
This task **isn't approved**. It's a good feature, but let's focus on the working app right now. I am not closing this issue because, we might use this later! Thanks.

[2022-03-09 14:55] praveenscience commented on #83
@MitAbhay I have no clue what @Shivansh-yadav13 is trying to do! 😅

[2022-03-09 14:57] praveenscience commented on #103
@Abhilasha-Jairath Any update on this? 😊  Eager to see the design. Thanks for responding though.

[2022-03-09 14:58] praveenscience commented on #102
I don't understand, this has already been done and it's there. What's new in this? 🤔

[2022-03-09 15:00] praveenscience commented on #102
Interestingly, this has been done already in 2020. Thanks! 😊

![image](https://user-images.githubusercontent.com/1830380/157467877-2abfe63e-b756-48bf-a4fc-49502bd7d77d.png)

[2022-03-09 15:12] praveenscience commented on #86
@Keyurchaniyara @YatreeLadani @prachi1211 Project Admin of Cats in Tech Rezume here. I would love to give you 1000 ₹ each, if you are able to tell me what you're trying to do! 😅

[2022-03-09 15:16] praveenscience commented on #101
@Arijit018 Currently @mayonk-kumar-git is working on the same.

[2022-03-09 15:19] #83 closed

[2022-03-09 15:29] Arijit018 commented on #101
@praveenscience  Yes , It's fine . I want to collaborate with @mayonk-kumar-git

[2022-03-09 15:59] praveenscience commented on #86
Contest ended. 🏁

[2022-03-09 17:25] anushkachauhxn opened #105 "Color scheme of the website"
### Is your feature request related to a problem? Please describe.

The colour scheme is not very pleasing right now. We can keep the green and use better shades.
Also, the blue text and CTA button looks very odd here.

![image](https://user-images.githubusercontent.com/59930625/157496394-fdd65598-608e-45b9-a367-3ea0848d8f28.png)

### Describe the solution you'd like.

We should think carefully an

[2022-03-09 17:29] anushkachauhxn commented on #72
Hi, is there any update on this issue? Checking since the last activity was 6 days ago.

I'd like to work on this if it's up for grab. Please let me know.

[2022-03-09 17:57] subhendudash02 commented on #72
Hey @anushkachauhxn its still in progress and I will give the PR by next week actually, maybe tuesday/wednesday.
I will be unavailable this weekend.
But yeah I am still working on it and trying to complete this ASAP.
Hope you understand. :)

[2022-03-09 18:33] praveenscience commented on #105
Sure, go ahead @anushkachauhxn! 😁

[2022-03-09 18:34] praveenscience commented on #72
Yea, no worries! @anushkachauhxn wanna team up with @subhendudash02? In case, if both are okay?

[2022-03-09 18:47] subhendudash02 commented on #72
Yeah, that's cool actually.
If we divide the work component wise, then we can fix really fast.
What do you say @anushkachauhxn ?

[2022-03-09 20:44] anushkachauhxn commented on #72
Okay!😁😁
Let's connect LinkedIn. Here is my profile: [@anushka-chauhan](https://www.linkedin.com/in/anushka-chauhan/).

[2022-03-10 07:06] harsh5902 opened #107 "Adding a sidebar to edit experience and awards section"
### What happened?

As we see in About section of Rezume there is an a sidebar for editing which reflect the our edits on the main resume.
![image](https://user-images.githubusercontent.com/74867899/157606998-33027568-0252-4532-80f2-1046f3a559ff.png)
But in Awards, Experience and other section have nothing which we edit for
![image](https://user-images.githubusercontent.com/74867899/157607285-bca7

[2022-03-10 09:07] BabyElias opened #108 "Logo Of the Website & some additional features"
### Is your feature request related to a problem? Please describe.

The website has a very plain , not-so-loud UI/UX interface which is appreciable in the light of its purpose but there is no logo for the website.

 Presently,the user has very limited options to choose from.

The name of the website is Rezume but the name of URL is rezyume.com.

### Describe the solution you'd like.

A logo would

[2022-03-10 13:06] mayonk-kumar-git commented on #15
@praveenscience, I was thinking of something like:

const Projects = {
ProjTitle: {
  title:"",
  required:true,
},
TechStack: {
  techs:[],
  required:true,
},
ProjDesc: {
  desc:"",
  minLen:80,
  maxLen:300,
  required:true
},
ProjLocation: {
  location:[],
 primaryLoc:""
  required:false
},
ProjEmp: {},
ProjURL: {
  gitUrl:"",
  hostedUrl:"",
  otherUrls:[],
  required:true,
}
}

But I think i

[2022-03-10 13:15] praveenscience commented on #107
Have you checked for dupes? @harsh5902?

[2022-03-10 13:15] praveenscience commented on #108
Dupe of #103 #71 and #6

[2022-03-10 13:16] #108 closed

[2022-03-10 13:16] praveenscience commented on #15
@mayonk-kumar-git Man, this is rocking. Go for it...

[2022-03-10 13:18] praveenscience commented on #107
Yep, dupe of #12 and #13...

[2022-03-10 13:18] #107 closed

[2022-03-10 13:47] mayonk-kumar-git commented on #15
@praveenscience I would love to. Should I get started? Should I continue on issue thread #73 or continue here only?

[2022-03-10 13:49] praveenscience commented on #15
@mayonk-kumar-git What's happening with Sandhya, let's check. If she's not responding in the next one hour, I'll close it and you start working on this right away! 😁

[2022-03-10 13:50] praveenscience commented on #73
Any updates @Sandhya312? This is technically a dupe of #15. But was waiting for you to complete this.

[2022-03-10 13:54] mayonk-kumar-git commented on #15
@praveenscience yeah sure

[2022-03-10 13:59] Abhilasha-Jairath commented on #103
Working on it sir !! Will update the designs asap

[2022-03-10 14:50] Sandhya312 commented on #73
I am working on this issue. If I will fail to complete then I will inform you by tomorrow.

[2022-03-10 15:19] praveenscience commented on #73
@mayonk-kumar-git Let's wait for her... Thanks for the update @Sandhya312! 👍🏻

[2022-03-10 15:20] praveenscience commented on #103
@Abhilasha-Jairath Excellent, waiting...

[2022-03-10 17:23] krisha-a opened #109 "Create a theme section for better templates the user wants"
### Is your feature request related to a problem? Please describe.

There is only plain white background of the resume. Please assign this task to me under Gssoc'22

### Describe the solution you'd like.

I would like to create an option for the users to choose any of the templates they like to have on the resume.

### Describe alternatives you've considered.

We can also provide option for the us

[2022-03-11 06:13] Sandhya312 commented on #73
Hey, @praveenscience You can assign this issue to anyone.

[2022-03-11 06:32] rithgan opened #110 "Node Sass version 7.0.0 is incompatible with ^4.0.0"
### What happened?

After running npm start

![Incompatible version of node-sass](https://user-images.githubusercontent.com/39555302/157812834-4977216c-8206-44a2-aa74-6b71309c6693.png)

This happened because of version conflicts of node-sass with version<17 of node. I have attacked a table for reference in the next section.

I would also like to mention that node-sass is a [depreciated](https://ww

[2022-03-11 07:30] mayonk-kumar-git commented on #73
@praveenscience I am always ready😁

[2022-03-11 08:23] VanshSh opened #111 "Feature : Add the user profile picture."
### Is your feature request related to a problem? Please describe.

This issue is regarding adding the profile picture in the header section of the page.

### Describe the solution you'd like.

Adding the option to let user add their profile picture on the resume.

### Describe alternatives you've considered.

We can also add the random avatar generator which will add the random avatar pic for the

[2022-03-11 09:34] praveenscience commented on #111
Please carry on! 😊

[2022-03-11 09:35] praveenscience commented on #109
Nice one @krisha-a Please start... 😊

[2022-03-11 09:40] praveenscience commented on #110
Dupe of #91 and it's been fixed.

[2022-03-11 09:40] #110 closed

[2022-03-11 09:40] praveenscience commented on #73
What happened @Sandhya312?

[2022-03-11 12:12] Sandhya312 commented on #73
Actually, I am also busy in my college and don't want to waste the time of anyone.

[2022-03-11 14:18] goyalsaksh commented on #80
Hello, I am A gssoc contributor and a beginner.please assign this issue to me.

[2022-03-11 14:24] goyalsaksh commented on #105
Hello , I am a GSSOC contributor , please assign this issue to me.

[2022-03-11 16:19] rithgan commented on #110
Are you sure it's fully fixed? I reproduced this error today only.

[2022-03-12 05:49] sebinfrancis7 commented on #99
@praveenscience can you please check this issue.

[2022-03-12 06:18] YalfamIamShaon opened #112 "Title: Implementing the Dummy buttons"
Hey @praveenscience, I am Shaon Dhar, a GSSOC 22 contributor. I saw your project and loved it. But apart from About and Contact Button, other buttons are not working. So I would like to work on this issue as a GSSOC 22 contributor,
![Capture](https://user-images.githubusercontent.com/84259582/158006526-1913da42-148a-491a-877e-07f8d5f4d99a.PNG)

[2022-03-12 18:35] praveenscience commented on #80
@goyalsaksh Please don't get any more strikes / penalties, kindly read the above message! Just think what employers and others might think looking at this?

Had I been looking for a Front End engineer to join my team, I'll reject the application because of this:

[2022-03-12 18:36] praveenscience commented on #80
@Pranai2518 What's the status?

[2022-03-12 18:37] praveenscience commented on #105
@goyalsaksh Please don't get any more strikes / penalties, kindly read the above message! Just think what employers and others might think looking at this?

Had I been looking for a Front End engineer to join my team, I'll reject the application because of this:

![image](https://user-images.githubusercontent.com/1830380/158030512-f1ac9e03-7a94-42b1-9c21-4df564c5291d.png)

You're asking to work on

[2022-03-12 18:37] praveenscience commented on #110
@rithgan Recently no one has reported issues in running the app with the latest code.

[2022-03-12 18:39] praveenscience commented on #99
@sebinfrancis7 Please carry on... For some reason GitHub didn't show me that you created this! 😓

[2022-03-12 18:39] praveenscience commented on #111
@VanshSh How are you getting on? I am planning to close this as a dupe of #99. Let me know if it's not dupe.

[2022-03-12 18:39] #111 closed

[2022-03-12 18:40] praveenscience commented on #99
Also, someone tried to start working on the same issue as a part of #111. But has been closed to get this one up.

[2022-03-12 18:40] praveenscience commented on #112
Well, this is technically a dupe of #8, did you check that?

[2022-03-12 18:40] #112 closed

[2022-03-12 18:43] VanshSh commented on #99
Thanks for closing my issue.
When I was going through all the issue I didn't saw that same issue has been created.

Thankfully we saved time.
I will look for another feature to add

[2022-03-12 18:43] praveenscience commented on #99
@VanshSh I hope you haven't started anything. Have you started, please collab with the other person. No problem if you both are working together and adding value man!!!

[2022-03-12 18:45] sebinfrancis7 commented on #99
Thank you @praveenscience
@VanshSh if you have started working on this issue or if you have any inputs, would love to work together.

[2022-03-12 18:46] VanshSh commented on #99
I just prepared the rough layout about the issue.

Yeah sure I would try to contact the issue #99 owner and see if we both can contribute to it.

[2022-03-12 18:46] praveenscience commented on #99
@sebinfrancis7 and @VanshSh Please team up and do a great job. Will be more than happy to treat you both with goodies! 🎉

[2022-03-12 18:55] VanshSh commented on #99
Yeah that would be great idea. ✌️.
Will share some ideas with you tomorrow.

[2022-03-12 18:56] VanshSh commented on #99
Thanks @praveenscience .
We will do our best.

[2022-03-13 04:22] anushkachauhxn commented on #105
Hi @praveenscience, sorry about the delay!

These are the colors I selected. I think they give us an overall classic feel. What do you think? Excited about your feedback!

![image](https://user-images.githubusercontent.com/59930625/158044928-9b2c3ffa-9ca5-45c9-9a32-596f85790820.png)

[2022-03-13 06:49] praveenscience commented on #105
@anushkachauhxn If you feel that's great, I am okay with it. TBH, I am colour blind partially towards red and green.

[2022-03-13 06:54] Pranai2518 commented on #80
Hey, @praveenscience I have exams till this Tuesday. I will try to complete the issue this week.

[2022-03-13 08:22] TANYA-CHAN commented on #86
Can I please work on this too? I wanna help out

[2022-03-13 08:32] praveenscience commented on #86
Sure, thats' a great idea @TANYA-CHAN. Ask @Neha9849?

[2022-03-13 08:32] praveenscience commented on #86
Maybe @TANYA-CHAN you can help her with resolving the merge conflicts to start with.

[2022-03-14 05:43] sebinfrancis7 commented on #99
@VanshSh You can connect with me on Linkedin.
This is my profile https://www.linkedin.com/in/sebinfrancis.

[2022-03-14 08:36] VanshSh commented on #99
DMed you

[2022-03-14 22:26] praveenscience commented on #103
Ma'am TBH, I am partially colour blind and I trust your decisions on the colours. So please carry on and show some magic! 😁

[2022-03-14 22:30] praveenscience commented on #108
May I assign #6 to you?

[2022-03-15 03:39] BabyElias commented on #108
Yes Sir, you can assign.
Gaining insights from the discussion on that issue , the logo needs to be:
1)Professional(not having lots of colors or designs,simple)
2) Two sentence format
3) Any slogan or tagline that needs to be added?

[2022-03-15 08:52] praveenscience commented on #6
@BabyElias Please comment here, I'll assign this to you.

[2022-03-15 11:16] BabyElias commented on #6
Assign me this issue.

[2022-03-15 11:17] praveenscience commented on #6
@BabyElias Please start working on a better logo! 😊

[2022-03-15 11:18] BabyElias commented on #6
Sure Sir !

[2022-03-15 11:19] BabyElias commented on #6
The links provided in the issue are broken.Do I need to refer any of those?

[2022-03-15 11:21] praveenscience commented on #6
Yea, sorry about that, it's been 2 years and the sites are down. This is lineal colour logo:

![image](https://user-images.githubusercontent.com/1830380/158367106-b083397c-73f9-4f4f-b665-663d56d4fd6d.png)

These are two colour logos:

![image](https://user-images.githubusercontent.com/1830380/158367150-4f9bd9e9-9407-4155-a330-7845bbdf1471.png)

Find something like this, thanks.

[2022-03-15 11:22] BabyElias commented on #6
ohkay Sir

[2022-03-15 17:31] Abhilasha-Jairath commented on #103
Please chk the[ link](https://www.canva.com/design/DAE6-BfhRRI/iSEdHzAoArem4rlxsVFYrQ/view?utm_content=DAE6-BfhRRI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton) and lemme know your opinion and changes you need

[2022-03-15 17:48] praveenscience commented on #103
Cool, I love the second one... We should also combine this with #6. May I move you there?

[2022-03-15 17:49] #103 closed

[2022-03-15 17:52] Abhilasha-Jairath commented on #6
Hello sir !!

[2022-03-15 17:53] praveenscience commented on #6
@Abhilasha-Jairath meet @BabyElias and she's got an awesome cool stuff too. Please discuss together and come up with something super cool.

[2022-03-15 17:53] Abhilasha-Jairath commented on #6
Sure sir!!

[2022-03-15 18:17] praveenscience commented on #104
Let's move it to the other repo. @anushkachauhxn please ping me for assignment. 😊

[2022-03-15 18:17] #104 closed

[2022-03-15 18:18] praveenscience commented on #98
No response, so closing...

[2022-03-15 18:18] #98 closed

[2022-03-15 18:19] praveenscience commented on #6
@BabyElias Add me too! 😊  canva@praveen.science

[2022-03-15 18:21] BabyElias commented on #6
Ok Sir ! I sent a request to your email ID canva@praveen.science .

[2022-03-16 18:40] Abhilasha-Jairath commented on #6
Im unable to join @BabyElias

[2022-03-17 03:46] sethu400 commented on #72
Hello, Is this issue closed? If not, shall I collaborate with you guys?

[2022-03-17 03:56] sethu400 commented on #18
Hello @praveenscience .Shall I work on this issue?

[2022-03-17 04:11] BabyElias commented on #6
@Abhilasha-Jairath Did you receive the invite link on your mail?

[2022-03-18 08:44] rohitkhicher001 commented on #97
I would like to contribute as a gssoc'22 contributor and solve this issue.

[2022-03-18 08:46] rohitkhicher001 commented on #12
I would like to take this issue as a gssoc'22 contributor.

[2022-03-18 18:48] Abhilasha-Jairath commented on #6
ya i did !! but unable to join

[2022-03-19 15:45] RaviAnand111 commented on #74
Hey @techSun-07, have you worked on this issue, if you are busy somewhere else, I'd like to work on this issue too or collaborate with you.
cc @praveenscience
Thanks

[2022-03-20 05:45] Yashkapure06 opened #116 "Add Some Good User Experience : Navbar"
### Is your feature request related to a problem? Please describe.

Hey,

If I am a user i will think why they have created multiple menu tabs?
Instead we can ask user to fill the information all in one.
Which  will indirectly save user time.

### Describe the solution you'd like.

The Solution I have is remove all the components of navigation bar, add a logo for **Rezume** in navbar center,
Ask u

[2022-03-21 13:43] Abhilasha-Jairath commented on #6
Ok im in !! i somehow joined canva withyour link @BabyElias
Whats the next task? @praveenscience

[2022-03-23 09:40] Siddhesh777 opened #117 "Title: Add Login and Signup Button"
### Is your feature request related to a problem? Please describe.

If we create a Login and Signup method,We can store all the data of user.
So next time we the user can only update the data and get the latest resume.

### Describe the solution you'd like.

I will make a Login and Signup button.
Will render the forms through react components.

### Describe alternatives you've considered.

I am co

[2022-03-23 14:47] AsmaIbrahimButt opened #118 "Title: Add Portfolio section in a resume"
### Is your feature request related to a problem? Please describe.

I want to add the portfolio section in a resume  which can help the recruiters to analyze the different projects of the employee so, that they can easily view the all projects showcase within a single link.

### Describe the solution you'd like.

I will make the cards using reactjs in which there is a details about each section of

[2022-03-25 12:02] AsmaIbrahimButt commented on #118
kindly assign me this issue.

[2022-03-26 07:32] #80 closed

[2022-03-26 17:21] #116 closed

[2022-03-27 18:33] praveenscience commented on #97
@rohitkhicher001 This is a dupe of #72. Why didn't you see the above comment?

[2022-03-27 18:33] #97 closed

[2022-03-27 18:33] praveenscience commented on #72
Hey everyone, any updates on this?
@anushkachauhxn and @subhendudash02?

@sethu400 Are you still up for this?

[2022-03-27 18:36] praveenscience commented on #18
Hi @MonarchGitHub / @Sukriti-m any updates?
@sethu400 / @Shobhit61730 Still up for this?

[2022-03-27 18:36] praveenscience commented on #80
@Pranai2518 What happened?

[2022-03-27 18:37] praveenscience commented on #12
@rohitkhicher001 Come to #8 to discuss about it. 😊

[2022-03-27 18:38] praveenscience commented on #74
@techSun-07 Any updates on this? Also @RaviAnand111 still up for this?

[2022-03-27 18:41] praveenscience commented on #118
Dupe of #15. Come there and let's discuss.

[2022-03-27 18:41] #118 closed

[2022-03-27 18:42] praveenscience commented on #117
We're not planning any user management because this is a pure Client Side app.

[2022-03-27 18:42] RaviAnand111 commented on #74
Yeah, @praveenscience I am definetely up for it.
Thanks for asking

[2022-03-27 18:43] praveenscience commented on #74
@RaviAnand111 Go on. Let's do it! 😊

[2022-03-28 01:26] sethu400 commented on #18
@praveenscience Yeah!

[2022-03-28 03:14] Sukriti-m commented on #18
Hi @praveenscience , yes I created the about page but I am having problem in rendering it on the click of About Us button.
This is how the page will look on clicking the button.

https://user-images.githubusercontent.com/93239528/160320236-22c86aae-fa94-4b8c-89b0-f0a1a9bac501.mp4

**Approach**- In the _header.js_ file, I used the hook _useState_ using which I will change the value of _isClicked_.

[2022-03-28 04:40] Pranai2518 commented on #80
@praveenscience it is done by someone PR #114

[2022-03-28 04:57] AsmaIbrahimButt commented on #15
Hi @praveenscience  I want to contribute in this project by adding portfolio section.

[2022-03-28 09:25] praveenscience commented on #18
@Sukriti-m Great one. Just push the code and send me the branch link. I'll have a look.

[2022-03-28 09:25] praveenscience commented on #18
@Sukriti-m Also, I'll ask you to kindly stop working on this, as we're planning to use a static landing page for the About. So you won't be messing up with the react stuff. It might be a good learning for you! :)

[2022-03-28 09:26] praveenscience commented on #80
Ah alright! 👍

[2022-03-28 09:27] praveenscience commented on #15
@AsmaIbrahimButt It's been done. Check the discussion above. I just need to close this once the merging is done.

[2022-03-28 11:59] RaviAnand111 commented on #74
Hey @praveenscience, Can we discuss what are the things I have to solve in this issue, As usually one issue is created to solve one problem.
The problems I can think of to solve in this issues are :

1. Making Navbar responsive
2. Make navbar more good looking
3. Make footer component and better

Can you please share your views.
Thank You

[2022-03-28 14:40] praveenscience commented on #74
Why change the colour bro? The changing of colour has been done multiple times already to get the latest one. We have our branding.

[2022-03-28 14:40] praveenscience commented on #72
@sethu400 Wanna work on this? 😊

[2022-03-28 15:01] RaviAnand111 commented on #74
To me specifically, the color was a little daunting, and by looking at the issue, navbar was supposed to make a little better looking, therefore I changed it.

So should I change the color back to green to should we use the new one ?

[2022-03-28 15:42] praveenscience commented on #74
Ahh okay... I am just thinking. Because this one looks more vibrant and I love it. Can you give me some time? 😁

[2022-03-28 17:44] sethu400 commented on #72
@praveenscience Yeah

[2022-03-29 09:14] praveenscience commented on #72
@sethu400 Go for it! 😊

[2022-03-29 10:11] #99 closed

[2022-03-29 11:12] praveenscience opened #122 "Update the Home Page."
### What happened?

Currently the homepage is https://app.rezume.best. It should be https://app.rezyume.co/.

### How can we reproduce this bug?

Check `package.json`.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

High priority

[2022-03-29 11:16] ManjuBhagtani commented on #122
Hi,
I want to work on this issue.

[2022-03-29 11:23] #122 closed

[2022-03-29 11:34] praveenscience commented on #122
Wow, it was done so quick! Thanks @ManjuBhagtani! 😊  And here's how we did! 😁

[Video: **Cats in Tech: Rezyume: Issue #122 / PR #123**](https://youtu.be/-2LkLAEap7Y)

[2022-03-29 11:38] #101 closed

[2022-03-29 12:00] praveenscience opened #124 "Convert the About Us button to a link and update it!"
### What happened?

We have the About Us button integrated in the app here:

![image](https://user-images.githubusercontent.com/1830380/160605926-c85001cb-9884-4d2c-8489-1e21ee9878fe.png)

At the moment, it's inside a React component as a button. All we need is to convert the button into a `<a>` tag with a link back to https://rezyume.co/.

Simple steps to follow:

- Change `<button>` to `<a>` wit

[2022-03-29 12:08] karmankaur09 commented on #124
I want to issue

[2022-03-29 12:08] karmankaur09 commented on #124
I want to work on this issue

[2022-03-29 12:09] praveenscience commented on #124
Okay start working on this! 😊

[2022-03-29 12:32] #124 closed

[2022-03-29 15:25] mayonk-kumar-git commented on #101
@praveenscience Yeah, I am up for it!!
Share the repository

[2022-03-29 15:43] praveenscience commented on #101
@mayonk-kumar-git Waiting to get the sign off from GSSoC 22 team! 😊

[2022-03-30 02:11] Sukriti-m commented on #18
@praveenscience This is the branch link.

[https://github.com/Sukriti-m/Rezume/tree/contribution](url)

Yeah, alright I will stop working on it now and thank you 😃  It was a nice learning experience for me.

[2022-03-31 21:16] praveenscience commented on #18
@Sukriti-m Will you be happy to show your magic on the new repository once it's approved? 😊

[2022-04-01 01:48] mrunankpawar opened #126 "Creating a checklist for the required extensions to be installed on VSCode"
### Is your feature request related to a problem? Please describe.

I was figuring out to install all the required extensions for the project, so just thought that having a checklist in the README itself will be helpful, we already have the extensions mentioned, just need to convert it into the checklist.

### Describe the solution you'd like.

Adding checklist in README.md files, and adding a ref

[2022-04-01 02:44] mrunankpawar opened #127 "After adding image, name and contact section looks too close"
### What happened?

When we click on the checkbox for **Add Profile Picture** name of the person and their contact details come too close, which looks clumsy. If we reduce the padding on the left and right sides a little, then it looks fine.

### How can we reproduce this bug?

We just need to click on the checkbox next to the Add Profile Picture and you will be able to notice it.
<img width="1440

[2022-04-01 03:41] Sukriti-m commented on #18
@praveenscience Yeah sure, I'd be glad to contribute to it 😃

[2022-04-01 08:20] Gurdeep475 commented on #4
@praveenscience my PR was not recognized in GSSOC because there are no lables given to this issue. Please attach the relevant labels.

[2022-04-01 14:37] VartikaB opened #128 "Website is not responsive."
### What happened?

This website is not compatible on  various devices
![Screenshot (157)](https://user-images.githubusercontent.com/81951781/161283892-35dd2488-ef8e-4939-9352-7fe4a5f0bd43.png)

### How can we reproduce this bug?

This can be resolved by using CSS breakpoints or media query breakpoints.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-04-01 20:23] sulogna2001 commented on #128
Hello can you assign me this issue under GSSOC 22

[2022-04-01 20:24] sulogna2001 commented on #40
Hello can you assign me this issue under GSSOC 22

[2022-04-02 14:21] praveenscience commented on #126
It's already there in the ReadMe:

![image](https://user-images.githubusercontent.com/1830380/161387516-8150a166-5e8b-4ab5-a013-3fc479c17ee1.png)

What exactly are you trying to do?

[2022-04-02 14:23] praveenscience commented on #127
Seems to be a valid issue! 😢  Wanna pick it up?

[2022-04-02 14:24] mrunankpawar commented on #127
Yes, sure

[2022-04-02 14:25] praveenscience commented on #18
@Sukriti-m Just create a PR for this - you would love to get the points right? But use the `about-page` branch. Thanks.

[2022-04-02 14:26] praveenscience commented on #4
@Gurdeep475 Definitely this has labels:

![image](https://user-images.githubusercontent.com/1830380/161387755-e429ae0f-27a6-4918-a346-e56ba6232466.png)

Labels are for PRs not issues.

[2022-04-02 14:27] mrunankpawar commented on #126
I have read the readme, was trying to say that can we add it as a checklist

eg:
- [ ]  Git
- [ ] Node.js

Sorry if it seems to be an invalid issue

[2022-04-02 14:29] praveenscience commented on #4
I don't understand. It's even there right in front on [the trailer](https://rb.gy/gitxip) too! What happened?

![image](https://user-images.githubusercontent.com/1830380/161387872-426e85c4-14a0-4888-8b74-a13e0c382181.png)

Let me know where the problem is? Show this to Monish then...

[2022-04-02 14:30] praveenscience commented on #14
@Amandev02 Please go ahead.

[2022-04-02 14:31] praveenscience commented on #128
@sulogna2001 Go for it! 😊

[2022-04-02 14:32] praveenscience commented on #40
@sulogna2001 What are your plans about this? 😊  Please tell me?

[2022-04-02 14:32] praveenscience commented on #126
@mrunankpawar makes sense. Wanna pick it up?

[2022-04-02 14:34] mrunankpawar commented on #126
Yes, sure

[2022-04-02 15:31] BhoomikaSahu opened #129 "Add H"
### Is your feature request related to a problem? Please describe.

I am a contributor of GSSOC'22
I want to implement hobbies section
There is mention only the name of the section but we can't add them in the resume so I want to fix this.

### Describe the solution you'd like.

There is section hobbies but it has not implemented, we can implement it as about section.

### Describe alternatives yo

[2022-04-02 15:47] Kanika2772002 commented on #127
I can fix this issue @mrunankpawar can u assign me??

[2022-04-02 19:21] praveenscience commented on #129
Dupe of #8 and #17... Please check. If you wanna do it, I'll assign it, but seems like it's been done in #80.

[2022-04-02 19:21] praveenscience commented on #127
@Kanika2772002 It's already been raised and assigned to @mrunankpawar

[2022-04-03 01:15] gulshan23 opened #132 "Implement different sections and change the UI/UX"
### Is your feature request related to a problem? Please describe.

The site is a good looking one no doubts but there always exists a possibility for a revamp hence, I would like to change the look of the site. Also i would like to add the section details for experience, education, awards, projects, skills , hobbies, contact.

@praveenscience Sir, I would like to work on this project please assig

[2022-04-03 02:14] Amandev02 commented on #14
Is it okay for this issue or we need to add backend part of the code

[2022-04-03 06:37] Kanika2772002 commented on #127
Ohky ohky

On Sun, Apr 3, 2022, 12:52 AM Praveen Kumar Purushothaman <
***@***.***> wrote:

[2022-04-03 07:14] RaviAnand111 commented on #74
Hey @praveenscience, I know you have been busy, but have you decided which look we should go with ?
Thanks

[2022-04-03 10:59] VartikaB commented on #128
Since I have raise this issue and can fix it easily please assign it to me.

[2022-04-03 14:00] praveenscience commented on #127
@mrunankpawar Any updates?

[2022-04-03 14:01] praveenscience commented on #74
@RaviAnand111 Go ahead and do your magic, if it's nice, we'll adopt. Either way, you'll get your points. I am interested to see what you've got! 😊

[2022-04-03 14:02] mrunankpawar commented on #127
Yep, working on it.

[2022-04-03 14:02] praveenscience commented on #128
@VartikaB Go for it.
@sulogna2001 Have you started?

[2022-04-03 14:06] praveenscience commented on #128
Or if you both wanna do, maybe team up! 😊

[2022-04-03 14:06] praveenscience commented on #14
@Amandev02 I haven't seen you suggesting anything here. What's up?

[2022-04-03 14:07] #126 closed

[2022-04-03 14:08] praveenscience commented on #132
Hey @gulshan23 Nice one... but a lot of things here are already being worked on. Can you check and reply me if that's the same thing you're working on or? See #8...

[2022-04-03 14:30] praveenscience opened #134 "Picture Checkbox not correctly controlled with State"
### What happened?

When you try to add a profile picture, you click on the checkbox. But when you go to another tab and come back, the checkbox seems to be unchecked.

https://user-images.githubusercontent.com/1830380/161432686-35a30afb-ae2c-427c-a455-35228f3014e6.mp4

### How can we reproduce this bug?

1. Go to the [home page](https://app.rezyume.co).
2. Check the Profile Pic checkbox.
3. Go to

[2022-04-03 14:30] praveenscience opened #135 "Increase the clickable area for Profile Pic checkbox"
### What happened?

When we click on the text of the checkbox, the checkbox should get checked or unchecked.

https://user-images.githubusercontent.com/1830380/161432686-35a30afb-ae2c-427c-a455-35228f3014e6.mp4

### How can we reproduce this bug?

1. Go to the [home page](https://app.rezyume.co).
2. Click on Profile Pic label text.
3. Expecting the checkbox to check and uncheck, but it doesn't hap

[2022-04-03 14:31] vaishnavi2810-code opened #136 "Title: Add NodeJS routing for pages"
### Is your feature request related to a problem? Please describe.

The website needs to have NodeJS routing for pages which can handle the HTTP requests by the clients in an easy manner.

### Describe the solution you'd like.

I would like to add NodeJS routing for pages and routing is the most important part in any website.

### Describe alternatives you've considered.

No alternatives considere

[2022-04-03 14:38] praveenscience commented on #136
Hi @vaishnavi2810-code, this will be run through any HTTP server (even PHP), so I guess Node JS is going to be used only for development purposes. Would you like to update the issue to include just a client side routing? 😊

[2022-04-03 15:12] #127 closed

[2022-04-03 15:16] praveenscience opened #138 "Add the Mini-Leaderboard Link in the ReadMe."
### Is your feature request related to a problem? Please describe.

Can we have the [Mini-Leaderboard](https://h0m9hr.csb.app/) link in the ReadMe for a quick access?

### Describe the solution you'd like.

Add the link to the [Mini-Leaderboard](https://h0m9hr.csb.app/) on the ReadMe.

### Describe alternatives you've considered.

None.

### Add any other context or screenshots about the feature r

[2022-04-03 15:19] Simran2337 commented on #134
I want to work as a GSSOC participant , Praveen!

[2022-04-03 15:20] praveenscience commented on #134
@Simran2337 You got it! 👍

[2022-04-03 15:20] Simran2337 commented on #135
I wanna take up as a GSSOC'22 participant!

[2022-04-03 15:20] praveenscience commented on #135
@Simran2337 Go for it.

[2022-04-03 15:24] karmankaur09 commented on #138
I want to solve this issue.

[2022-04-03 15:25] praveenscience commented on #138
@karmankaur09 Sure, go for it. 😊

[2022-04-03 15:30] praveenscience commented on #129
Yea, this is implemented in #114... 😢

[2022-04-03 16:48] gulshan23 commented on #132
Thank you for assigning the task. #8 is not similar to my proposed idea. I will create the pull request ASAP.

[2022-04-04 05:33] BhoomikaSahu commented on #129
Could You assign me any other task ?

[2022-04-04 09:26] praveenscience commented on #129
Hey yes sure... Give me some time.

[2022-04-04 12:48] sachinkrr02 commented on #129
sir i want to work on this issue please let me allow work on this

[2022-04-04 14:12] sachinkrr02 commented on #129
sorry sir may u please tell me about my mistake

[2022-04-04 15:03] praveenscience commented on #129
@sachinkrr02 Sir, can you kindly read the complete discussion from the beginning till the end and can you tell me what's the mistake, please?

[2022-04-04 16:37] Siddhesh777 commented on #117
@praveenscience
We can store the data of user for future purpose
Later on, we can even add database in this project.
I personally think adding database will take this project to next levels.

[2022-04-04 17:18] Siddhesh777 commented on #117
@praveenscience
We can then implement log in /sign up with firebase .
I guess they give some 10,000 verifications for free.

[2022-04-04 17:18] praveenscience commented on #117
Wow, okay, lemme look into it then... So just GitHub Pages is enough? 😊

[2022-04-04 17:19] praveenscience commented on #117
@Siddhesh777 Will you be able to do the complete end to end stuff then?

[2022-04-04 17:23] Siddhesh777 commented on #117
@praveenscience
Right now I will create a react component for Log in and Signup (pages)
Fine?

[2022-04-04 17:26] Siddhesh777 commented on #117
Yeah  Sure @praveenscience  😁

[2022-04-06 05:38] chetnaakhandagale opened #140 "update Readme"
Hey, I want to correct some mistakes which are there in the readme.
Could you please assign it to me?

[2022-04-06 07:12] zugzwang03 opened #141 "Title: Build up the "About Us" page for the app "Rezume""
### Is your feature request related to a problem? Please describe.

On pressing the "About Us" button, the new page opening up contains only one line information about the project. It doesn't necessarily illustrates the main idea and concept behind creating the project.

### Describe the solution you'd like.

I would like to add content about the project in the "About Us" page. Like the basic mott

[2022-04-06 10:12] praveenscience commented on #6
I am still waiting for it! 😅

[2022-04-06 10:13] praveenscience commented on #141
Yes, this is a new project altogether and we're waiting for the approval from GSSoC for the same. Kindly check the previous issues for about page please?

[2022-04-06 10:13] #141 closed

[2022-04-06 11:16] Abhilasha-Jairath commented on #6
Yes I did received the link and joined it.
Yes !!

[2022-04-06 12:43] Siddhesh777 opened #143 "Title: Firebase authentication"
### Is your feature request related to a problem? Please describe.

We have to authenticate user if we want to add login/signup.

### Describe the solution you'd like.

I would like to add firebase authentication

### Describe alternatives you've considered.

Authentication

### Add any other context or screenshots about the feature request here.

I am contributor at GSSOC'22.
Please assign this i

[2022-04-06 12:52] Siddhesh777 opened #144 "Title: Toggle Password visibility"
### Is your feature request related to a problem? Please describe.

Many times it is convenient if there is a functionality of toggling the password view(show->hidden and vice versa)
So that user can confirm his password.

### Describe the solution you'd like.

I would like to add a toggle password button(react eye icon)which will toggle the visibility of the password in signup page when clicked.

[2022-04-06 12:57] Siddhesh777 opened #145 "Title: Homepage button in Log in page."
### Is your feature request related to a problem? Please describe.

there should be a button in inside login page which will take user to the main page(In case user wants to continue without loggin in)

### Describe the solution you'd like.

A button which on clicked,will take the user to the home page.

### Describe alternatives you've considered.

NA

### Add any other context or screenshots abo

[2022-04-06 13:28] zugzwang03 commented on #141
I want to work on this issue, but the concept of 'new project' is unclear to me. @praveenscience

[2022-04-08 03:22] Siddhesh777 commented on #143
hey @praveenscience
Please assign 😁

[2022-04-08 16:24] code-reaper08 commented on #143
Hello @Siddhesh777, is this related to #117?
BTW I'm [Vishwa](@code-reaper08), mentor for [Rezume](https://github.com/CatsInTech/Rezume) 😄

[2022-04-08 16:25] Siddhesh777 commented on #143
yeah right @code-reaper08

[2022-04-08 16:29] code-reaper08 commented on #140
Please be descriptive of the things you are planning to change @chetnaakhandagale 😅

[2022-04-08 16:34] code-reaper08 commented on #143
Nice!
I'm assigning you 👍
Good luck with Firebase 🔥😉

[2022-04-08 16:36] Siddhesh777 commented on #143
thank you @code-reaper08 😅

[2022-04-08 16:39] praveenscience commented on #6
@BabyElias Wanna post the screenshots here? 😊

[2022-04-08 16:40] praveenscience commented on #140
@code-reaper08 Since after the request, in 2 days, the user hasn't responded. Should we close the issue as unclear? 🤔

[2022-04-08 16:42] code-reaper08 commented on #140
We could do that as well!

@chetnaakhandagale you can create a new issue with some more clarity on the matter🤠

What you say @praveenscience?

[2022-04-09 03:15] chetnaakhandagale commented on #140
Hey, Sorry for the late response.

[2022-04-09 03:18] chetnaakhandagale commented on #140
I wanted to correct some **grammatical** mistakes as well as some **punctuation** mistakes in the readme. Those are **only a few** things I wanted to change, otherwise, the readme is fine. If it sounds good, you can assign it to me.

[2022-04-09 03:18] BabyElias commented on #6
![REZUME (3)](https://user-images.githubusercontent.com/95405559/162554403-f6cb7800-5078-4fff-9e6c-91dddf6a9c3c.png)
![REZUME (2)](https://user-images.githubusercontent.com/95405559/162554406-e9ed4209-c19e-4186-b424-519480d3a979.png)
![REZUME (1)](https://user-images.githubusercontent.com/95405559/162554407-64fcb6e3-2442-4a7e-8a76-d1e5ce3e8abc.png)

[2022-04-10 06:30] geetanjali2001 opened #147 "Beautify Font style"
### What happened?

Hi,
I want to beautify the  font style
![Screenshot (18)_LI](https://user-images.githubusercontent.com/100347557/162605461-5d627098-30eb-48d4-a9b2-f02a1d32f03c.jpg)
.

### How can we reproduce this bug?

I will change the font style  in the last name of the person as first name is bold and last name is not bold.

### Desktop Information (Optional)

_No response_

### Urgency (O

[2022-04-10 08:11] praveenscience commented on #147
What kind of beautification you wanna do?

What's it you gonna do?

[2022-04-10 08:15] praveenscience commented on #140
Even the PR is grammatically incorrect. Lemme review it.

[2022-04-10 08:21] praveenscience commented on #140
Check my review comments. Not quite up to the mark.

[2022-04-10 08:21] praveenscience commented on #6
I love the second one:

![image](https://user-images.githubusercontent.com/1830380/162609501-faadce2c-94d5-475d-816c-b3859536a233.png)

[2022-04-10 08:26] BabyElias commented on #6
Great! Any more changes you would like to suggest? Or should I generate a PR for the same?

[2022-04-10 08:37] geetanjali2001 commented on #147
As in the name 'PRIYADHARSHINI Rajaram' first name is bold and last name is not bold so it's looks so weird. I want to change font style of Rajaram by making it  bold.

[2022-04-10 09:01] praveenscience commented on #6
Nopes... Need these as a part of PR:

- FavIcon Update
- OG Image Update

Think of a better way of adding it to the Nav... 😊

[2022-04-10 09:05] praveenscience commented on #147
Did you check out Represent.io?

[2022-04-10 09:32] praveenscience commented on #147
@geetanjali2001 To give you an idea of what went into the discussion, we had several iterations... We started with this design first:

![Rev 1](https://user-images.githubusercontent.com/1830380/162611692-131db43d-50be-445e-9fb7-b2ae5d281cab.png)

The CV was not at all attractive, and a lot of people are sending out ill comments about the basic look at feel without any emphasis or strongness on the

[2022-04-10 10:01] BabyElias commented on #6
Ok Sure.Will try to incorporate it that way in a day or two and discuss with you.😊

[2022-04-10 10:05] praveenscience commented on #6
Excellent, thanks @BabyElias. Looking forward.

[2022-04-10 11:22] #138 closed

[2022-04-11 04:27] BabyElias commented on #6
https://drive.google.com/file/d/1_TOIHBzY3Bozjv43YBz20LLzhEFDw54n/view?usp=sharing

This is the favicon part of it. Image breaks on extensive zooming(because had to maintain the size of 48*48px) but at a 100% range works well.Check it out once @praveenscience

[2022-04-11 05:23] BabyElias commented on #6
These are the ideas for OG Image.Let me know which one appeals the most!

![REZUME (13)](https://user-images.githubusercontent.com/95405559/162670033-68ddfff6-cea6-40e7-906b-830ecf644fe1.png)
![REZUME (12)](https://user-images.githubusercontent.com/95405559/162670059-c21d3922-5b78-4f56-b7d1-2e158a06b312.png)
![REZUME (11)](https://user-images.githubusercontent.com/95405559/162670076-5b11865a-556a-

[2022-04-11 05:53] geetanjali2001 commented on #147
Ok

[2022-04-11 11:52] praveenscience commented on #147
@geetanjali2001 Anything?

[2022-04-11 11:53] praveenscience commented on #6
Last plain one for OG Image, thanks.

[2022-04-11 13:43] BabyElias commented on #6
So, the icon and OG images are approved. About adding it to navbar, do I have to add it and then generate the PR with those changes or just suggest some changes? Maybe @Abhilasha-Jairath can help with this part.

[2022-04-11 14:44] praveenscience commented on #6
Yes please, @BabyElias

[2022-04-12 13:39] ikavyajain commented on #6
Hello Sir, I have another sample of a logo. Can I work on it?
Here's the sample to it!
![image](https://user-images.githubusercontent.com/89743157/162975281-daf086fe-0bad-4adc-b365-342931cd6d3a.png)

[2022-04-14 10:58] praveenscience commented on #40
@ShivangiChy Awesome one. Currently some PRs are pending for the same, I just need to merge them. But I am still unsure if recommendation part has been done. Can you check out the open PRs right now to see if it's done?

[2022-04-16 05:19] ShivangiChy commented on #40
Hello!
Even I could not find any PRs related to Recommendation. So, shall I start working on this under GSSOC 22?

[2022-04-21 21:42] TG922 opened #149 "Adding the templates for the Resume design"
I would like to add the templates for the designing of resume

[2022-04-22 09:50] #149 closed

[2022-04-24 08:06] Abh1shekSingh opened #150 "Title: Making Other Section working To add in Resume"
### Is your feature request related to a problem? Please describe.

Yes, I want to add other section of resume to start working. So that user can add projects, experience and other

### Describe the solution you'd like.

I will code Javasript

### Describe alternatives you've considered.

Nothing

### Add any other context or screenshots about the feature request here.

_No response_

[2022-04-24 08:06] Abh1shekSingh commented on #150
Please Assign the Task to Me

[2022-04-24 08:25] praveenscience commented on #150
Dupe of #73 and #114.

[2022-04-24 08:25] #150 closed

[2022-04-24 18:53] geetanjali2001 commented on #147
No

[2022-04-26 21:30] Abhilasha-Jairath commented on #6
No changes required !! Everything seems to be perfect .

[2022-05-01 04:16] Ashish4321-hub opened #151 "Title: Make responsive to smartphone view"
### Is your feature request related to a problem? Please describe.

When I opened this project in smartphone,all text are not aligned properly .

### Describe the solution you'd like.

I will add div elements to project and make it responsive.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the feature request here.

![Screenshot_2022-05-01-09-37-50

[2022-05-01 04:58] Ashish4321-hub commented on #151
I am contributor at GSSOC'22
Please assign this issue to me.

[2022-05-03 07:30] Ashish4321-hub commented on #151
/assign

[2022-05-07 17:43] ShivangiChy opened #152 "Title: Add a Recommendation Tab."
### Is your feature request related to a problem? Please describe.

There should be a Recommendation Tab to add references of people who have worked with the person whose Resume is displayed.

I just wanted to know if  I could work on it under GSSOC 22. I am a first year Computer Science student and this is my first Open Source project.

### Describe the solution you'd like.

 In the Recommendatio

[2022-05-15 14:15] komalsoni4 commented on #152
@ShivangiChy , This seems interesting ,please detail it ans i would like to contribute over this issue

[2022-05-15 14:17] komalsoni4 commented on #151
hey , please assign this issue to me

[2022-05-30 11:28] #6 closed

[2022-05-30 11:29] #73 closed

[2022-06-01 05:48] praveenscience commented on #40
@ShivangiChy Any updates?

[2022-06-01 05:49] praveenscience commented on #151
Woops, sorry, someone could have messaged on the Discord chat.

[2022-07-06 16:29] route-2 opened #155 "Title: Update Login and SignUp Design"
### Is your feature request related to a problem? Please describe.

Design seems very mainstream, would like to make changes to the color scheme and make it more suitable for the site.

### Describe the solution you'd like.

I'd like to alter the color scheme and make the colors more suitable to the website.

### Describe alternatives you've considered.

I would want to add modals instead of a sep

[2022-07-10 07:30] route-2 commented on #155
can i work on this issue?

[2022-09-25 21:39] praveenscience commented on #155
Not sure how this slipped me... Let's discuss about this soon. 🤘🏻

[2022-10-03 15:06] iam-shubham03 commented on #105
Please, assigned me i work on this problem .

[2022-10-03 15:07] iam-shubham03 commented on #155
Please, assigned me I want to work on this problem.

[2022-10-04 12:57] iam-shubham03 commented on #145
please assigned me can i work in this problem